<extend name="Base/investor"/>

<block name="header">
  <header>
    <div class="littlebanner">
      <img src="__HOME__/images/entrepre/cailing.gif" />
    </div>
  </header>
</block>

<block name="body">
  <div class="all">
    <div class="allmains">
      <div class="middlll">
        <div class="meihao"></div>
        <div class=" linsese"></div>
        <div class="esessds">
          <div class="lels">
            <a href="__APP__/Home/Entrepre/entrepre">
              <img src="__HOME__/images/investor/sdsae.gif" />
            </a>
          </div>
          <div class="rihs">与投资人互动沟通推荐您的项目，并获得融资和发展建议</div>
          <div class="clear"></div>
        </div>
        <div class=" linsss"></div>
        <div class="esessds">
          <div class="lels">
            <a href="?s=Home/Investor">
              <img src="__HOME__/images/investor/toses.gif" />
            </a>
          </div>
          <div class="rihs">发现正在融资的优秀项目</div>
          <div class="clear"></div>
        </div>
        <div class=" linsss"></div>
        <!-- <div class="esessds">
          <div class="lels">
            <a href="">
              <img src="__HOME__/images/investor/sdsae.gif" />
            </a>
          </div>
          <div class="rihs">正在建设中</div>
          <div class="clear"></div>
        </div> -->
      </div>
    </div>
  </div>
</block>