<div class="xmdal_banner">
	<img src="__HOME__/images/investor/invdisplay/img/xm_banner1.jpg"  class="img-responsive center-block " style="min-width:1100px;" />
	 <script>
	    jQuery(document).ready(function($) {
	        var sidebarWidth = $(window).width()
	        $("div.xmdal_banner img").css('width', sidebarWidth);
	        $(window).resize(function() {
	            var sidebarWidth = $(window).width()
	            sidebarWidth = sidebarWidth + "px"
	            $("div.xmdal_banner img").css({'width':sidebarWidth});
	        });
	    });
	</script>
</div>