<!--微风投认证投资人-->

<div class="biaoti">
	<div class="biaoti_l bttp">以诚待人，信守承诺。</div>
	<div class="biaoti_r">
		<a href="index.php?s=home/invhome/investors" target="_blank">更多投资人>></a>
	</div>
	<div class="clear"></div>
</div>

<div id="tzrs">
	<?php foreach ($tzrs as $key =>
	$v4): ?>
	<?php 
	$v4info = get_child_detail($v4[id],2); 
	?>
	<div class="investor">
		<a href="{$v4info[0][url]}" target="_blank">
			<div class="touxiang">
				<?php if (!$v4info[0][face_img]): ?>
				<img src="__HOME__/images/index/qiyelogo.gif" width="134" height="134" />
				<?php else: ?>
				<img src="{$v4info[0][face_img]}" style="width:134px;height:134px;" />
				<?php endif ?>
				<div class="positiontwo">
					<img src="__HOME__/images/index/touxiang02.png" width="134" height="134" />
				</div>
			</div>
		</a>
		<div class="mxx">
			<div class="td">
				<div class="td_l">
					<?php if ($v4info[0][type]==2): ?>
						<a style="float:left;" href="{$v4info[0][url]}" target="_blank">{$v4info[0][company]}</a>
					<?php else: ?>
						<a style="float:left;" href="{$v4info[0][url]}" target="_blank">{$v4info[0][showname]}</a>
					<?php endif; ?>
					<img src="__HOME__/images/index/renzheng.gif" width="20" height="20" alt="微风投认证" /><span>{$v4info[0][level_name]}</span>
				</div>
				<div class="td_r">
					<img src="__HOME__/images/index/tdxm.gif" width="95" height="33" onclick="javascript:proDelivery({$v4info[0][id]});" />
				</div>
				<div class="clear"></div>
			</div>

			<input type="hidden" value="{$v4info[0][intentionname]}" id="trade{$v4info[0][uid]}">
            <p class="intention">投资意向：<?php 
                $trade = explode('&nbsp;',$v4info[0][intentionname]);
                if(count($trade) > 2){
                    echo $trade[0].'&nbsp;'.$trade[1].'&nbsp;'.'<font color="#00f;" style="position:relative;" id="more'.$v4info[0][uid].'" onmouseover="mouseover('.$v4info[0][uid].')" onmouseout="mouseout('.$v4info[0][uid].')">••••<span style="display:none;position:absolute;width:200px;right:-220px;top:-10px;color:#fff;background:#8e5700;font-size:12px;padding:10px; z-index:20" id="moretrade'.$v4info[0][uid].'">'.$v4info[0][intentionname].'</span></font>';
                }else{
                    echo $v4info[0][intentionname];
                }       
                ?>
            </p>
            
            <script type="text/javascript">
            /* function mouseover(id){
                var moreid = 'more'+id;
                var tradeid = 'trade'+id; 
                layer.tips($("#"+tradeid).val(),'#'+moreid,{guide:1,closeBtn: false,time:2;style: ['background-color:#005; color:#fff', '#005'],
        			maxWidth:194});
            } */
            function mouseover(id){
            	var moretradeid = 'moretrade'+id;
            	$("#"+moretradeid).show();
            }
            function mouseout(id){
            	var moretradeid = 'moretrade'+id;
            	$("#"+moretradeid).hide();
            }
            </script>

			<div class="tzje">
				<h2>投资金额：￥<?php echo number_format($v4info[0][min_maney]); ?>—￥<?php echo number_format($v4info[0][max_maney]); ?></h2>
				<!-- <h3>最大投资金额：￥</h3>
				<div class="clear"></div> -->
			</div>

			<div class="gytt">
				<ul>
					<li class="gyt_g">粉丝：<?php echo count(M('attention')->where("atted_id='".$v4info[0][uid]."'")->select()); ?></li>
					<li class="gyt_y">约谈：<?php echo count(M()->query("SELECT
						CASE wft_webmsg.sendid 
							WHEN '".$v4info[0][uid]."' THEN wft_webmsg.receiveuid 
						ELSE wft_webmsg.sendid END AS other
						FROM `wft_webmsg`
						WHERE 
						sendid = '".$v4info[0][uid]."' OR receiveuid = '".$v4info[0][uid]."'
						GROUP BY other")); ?>
					</li>
					<li class="gyt_t">投资：<?php echo count(M("financing")->where("pid='".$v4info[0][uid]."'")->select()); ?>
					</li>
				</ul>
			</div>
		</div>

	</div>

	<?php endforeach; ?>

	<script>$("#tzrs>div:even").addClass('rightt')</script>

	<div class="clear"></div>

</div>

<div class="fen"></div>