<div class="main_l">

	<div class="chuangjian" id="menuleft">
		<ul>
			<li>
				<a href="__URL__/baseinfo" id="baseinfo" class="abefore">基本信息</a>
			</li>

			<li>
				<a href="__URL__/createproject" id="createproject" class="abefore">创建项目</a>
			</li>

			<li style="">
				<a href="__URL__/createdproject" id="createdproject" class="abefore">已创建项目 [{:count($pros)}]</a>
			</li>
			
			<li>
				<a href="__URL__/touDi" id="toudi" class="abefore">投递记录[{:count($toudis)}]</a>
			</li>

			<li>
				<a href="__URL__/pinglun" id="pinglun" class="abefore">评论 [{:count($cmtedids)}]</a>
			</li>

			<li>
				<a href="__URL__/guanzhu" id="guanzhu" class="abefore">关注 [{:count($atts)}]</a>
			</li>

			<li>
				<a href="__URL__/webMsg" id="webMsg" class="abefore">约谈 [{:count($yt_count_user)}]</a>
			</li>

			<li>
				<a href="__URL__/fans" id="fans" class="abefore">粉丝 [{:count($fans)}]</a>
			</li>

			<!-- <li class="border" >
				<a href="#" id="border" class="abefore">理财 [0]</a>
			</li> -->

		</ul>
	</div>
</div>