<extend name="Base/prcenter"/>

<block name="header">
	<header>
		<div class="littlebanner">
			<img src="__HOME__/images/entrepre/cailing.gif" />
		</div>
		<script type="text/javascript">
		    jQuery(document).ready(function($) {
		      $('#pinglun').addClass('jiben');
		    });
		</script>
	</header>
	<!-- ==============================================js特效================================================= -->
	<include file="index/effect" />
	<!-- =================================================================================================== -->
</block>
<block name="body">
	<div class="all">
		<include file="main_t" />
		<!--main-->
		<div class="main" style="margin-bottom:20px;">
			<include file="main_l" />
			<div class="main_r">
				<div class="yichuangjian">
					<p>
						评论
					</p>
				</div>
				<div id="items">
                    <?php foreach ($cmtedids as $key => $cmt1): ?>
                        <?php $child_detail = get_child_detail($cmt1[cmtedid],$cmt1[cmtd_style]); ?>
                            <div class="dongtai">
                            <?php $cmts = M('comment')->where("cmtedid='$cmt1[cmtedid]'")->select();?>
                                <div class="dongtai_l">
                                    <a href="{$child_detail[0][url]}" target="_blank">
                                        <?php if ($child_detail[0][face_img]): ?>
                                            <img src="{$child_detail[0][face_img]}" />
                                        <?php else: ?>
                                            <img src="__STATIC__/images/nop.gif" />
                                        <?php endif; ?>
                                    </a>
                                </div>
                                <p>
                                    你评论了 <span><a href="{$child_detail[0][url]}">{$child_detail[0][pjname]}</a>
                                    </span>：   
                                </p>
                                <br><br>
                                <?php foreach ($cmts as $key => $cmt2): ?>
                                <div class="dongtai_r">
                                    <p>
                                        {$cmt2[cmtmsg]}
                                    </p>
                                    <h3>{:date("Y-m-d H:m",$cmt2[cmt_time])}</h3>

                                </div>
                                <div class="clear"></div>

                                <?php endforeach; ?>
                            </div>
                        <div style="border-bottom:#dcdcdc dotted 1px" class="clear"></div>
                    <?php endforeach; ?>
                </div
				 <?php if ($cmtedids): ?>
                    <div class="pages">
                        <script>
                        $("div.pages").jPages({
                            containerID : "items",
                            perPage : 10,
                            previous : "上一页",
                            next : "下一页"
                        });
                        </script>
                    </div>
                <?php else: ?>
                    <p>你暂时还没发表任何评论</p>
                <?php endif; ?>

			</div>
			<div class="clear"></div>
		</div>

	</div>
</block>