<extend name="Base/entrepre"/>

<block name="header">
    <header>
        <div class="littlebanner">
            <img src="__HOME__/images/entrepre/cailing.gif" />
        </div>
    </header>
    <!-- ==============================================js特效================================================= -->
    <include file="index/effect" />
    <!-- =================================================================================================== -->
</block>

<block name="body">
    <div class="all">
        <div class="allmain">
            <div class="test01">
                <img src="__HOME__/images/entrepre/xixin01.gif" />
                <!-- <div class="moxxx">
                    <a href="#">
                        <img src="__HOME__/images/entrepre/moxxx.gif" />
                    </a>
                </div> -->
            </div>
            <div class="middle">
                <div class="w936">
                    <!-- Tab区 -->
                    <include file="preditTab"/>
                    <script type="text/javascript">
                    $(document).ready(function($) {
                        $('#tb_2').addClass('tabcss');
                    });
                    </script>
                    <div class="ctt">
                        <div class="undis" id="tbc_02">
                            <div class="middle">
                                <div class="gezild">
                                    <div class="gezitwo">
                                        <div class="woqq"> <font style="color:#f00; font-weight:normal">*</font>
                                            法人身份证
                                        </div>
                                        <div class="kuang" style="width:620px;height:220px;">
                                            <if condition="!$fornt">
                                                <img src="__HOME__/images/entrepre/shenfu01.gif" id="img01" style="width:220px;height:220px;" />
                                                <img src="__HOME__/images/entrepre/shenfu01.gif" id="img02" style="display:none;width:220px;height:220px;" />
                                                <else />
                                                <img src="__COMPANY__/{$fornt}" id="img02" style="width:220px;height:220px;" />
                                            </if>
                                            &nbsp;&nbsp;&nbsp;&nbsp;
                                            <if condition="!$rear">
                                                <img src="__HOME__/images/entrepre/shenfu02.gif" id="img11" style="width:220px;height:220px;"/>
                                                <img src="__HOME__/images/entrepre/shenfu02.gif" id="img12" style="display:none;width:220px;height:220px;" />
                                                <else />
                                                <img src="__COMPANY__/{$rear}" id="img12" style="width:220px;height:220px;" />
                                            </if>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                    <div style="width:100%;height:45px;">
                                        <if condition="!$fornt">
                                            <!-- 上传按钮（身份证正面图片） -->
                                            <div id="cd01" style="float:left;margin-left:205px;display:inline;">
                                                <form name="imgform01" id="imgform01" action="?s=home/entrepre/saveimg01" method="post" enctype="multipart/form-data" >
                                                    <div class="input-file" style="overflow: hidden;position: relative;background:url('./Public/home/images/entrepre/scwj.gif') no-repeat;">
                                                        <input type="file" name="fornt" id="fornt" style="opacity: 0;filter: alpha(opacity:0);top: 0;right: 0;width:89px;height:30px;cursor:pointer;"></div>
                                                    <input class="prid" type="hidden" name="prid" value="{$prid}"></form>
                                            </div>
                                            <else />
                                            <div id="cd02" style="float:left;margin-left:205px; display:inline;">
                                                <img id="reupload01" name="reupload01" src="__HOME__/images/entrepre/cxsc.gif"></div>
                                        </if>
                                        <!-- 重新上传按钮（身份证正面图片） -->
                                        <div id="cd02" style="float:left;margin-left:205px; display:inline;display:none;">
                                            <img id="reupload01" name="reupload01" src="__HOME__/images/entrepre/cxsc.gif"></div>
                                        <!-- 上传按钮、取消按钮（身份证正面图片） -->
                                        <div id="cd03" style="display:inline;float:left;margin-left:175px;width:150px;display:none;">
                                            <form name="imgform02" id="imgform02" action="?s=home/entrepre/updateimg01" method="post" enctype="multipart/form-data" >
                                                <div class="input-file" style="overflow: hidden;position: relative;background:url('./Public/home/images/entrepre/scwj.gif') no-repeat;float:left;">
                                                    <input type="file" name="fornt02" id="fornt02" style="opacity: 0;filter: alpha(opacity:0);top: 0;right: 0;width:89px;height:30px;cursor:pointer;"></div>
                                                <!-- <input class="companyid" type="hidden" name="companyid" value="{$companyid}"> -->
                                                <input class="prid" type="hidden" name="prid" value="{$prid}">
                                            </form>
                                            <a href="javascript:backimg01()" style="float:right;">
                                                <img src="__HOME__/images/entrepre/quxiao.gif"></a>
                                        </div>
                                        <if condition="!$rear">
                                            <!-- 上传按钮（身份证反面图片） -->                                        
                                            <div id="cd11" style="float:right;margin-right:90px;">
                                                <form name="imgform11" id="imgform11" action="?s=home/entrepre/saveimg11" method="post" enctype="multipart/form-data" >
                                                    <div class="input-file" style="overflow: hidden;position: relative;background:url('./Public/home/images/entrepre/scwj.gif') no-repeat;">
                                                        <input type="file" name="rear11" id="rear11" style="opacity: 0;filter: alpha(opacity:0);top: 0;right: 0;width:89px;height:30px;cursor:pointer;"></div>
                                                    <!-- <input class="companyid" type="hidden" name="companyid" value="{$companyid}"> -->
                                                    <input class="prid" type="hidden" name="prid" value="{$prid}">
                                                </form>
                                            </div>
                                            <else />                                        
                                            <!-- 重新上传按钮（身份证反面图片） -->                                        
                                            <div id="cd12" style="float:right;margin-right:210px;">
                                                <img id="reupload11" name="reupload11" src="__HOME__/images/entrepre/cxsc.gif"></div>
                                        </if>
                                        <!-- 重新上传按钮（身份证反面图片） -->                                        
                                        <div id="cd12" style="float:right;margin-right:210px;display:none;">
                                            <img id="reupload11" name="reupload11" src="__HOME__/images/entrepre/cxsc.gif"></div>
                                        <!-- 上传按钮、取消按钮（身份证反面图片） -->
                                        <div id="cd13" style="float:right;width:150px;margin-right:180px;display:none;">
                                            <form name="imgform12" id="imgform12" action="?s=home/entrepre/updateimg11" method="post" enctype="multipart/form-data" >
                                                <div class="input-file" style="overflow: hidden;position: relative;background:url('./Public/home/images/entrepre/scwj.gif') no-repeat;float:left;">
                                                    <input type="file" name="rear12" id="rear12" style="opacity: 0;filter: alpha(opacity:0);top: 0;right: 0;width:89px;height:30px;cursor:pointer;"></div>
                                                <!-- <input class="companyid" type="hidden" name="companyid" value="{$companyid}"> -->
                                                <input class="prid" type="hidden" name="prid" value="{$prid}">
                                            </form>
                                            <a href="javascript:backimg11()" style="float:right;">
                                                <img src="__HOME__/images/entrepre/quxiao.gif"></a>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="linfes"></div>
                                    <div class="clear"></div>
                                </div>
                                <div class="gezild">
                                    <div class="woqq"> <font style="color:#f00; font-weight:normal">*</font>
                                        法人证信报告
                                    </div>
                                    <div class="kuang" style="width:220px;height:220px;">
                                        <if condition="!$legalperson">
                                            <img src="__HOME__/images/entrepre/shenfu04.gif" id="img21" />                                        
                                            <img src="__HOME__/images/entrepre/shenfu04.gif" id="img22" style="display:none;width:220px;height:220px;"/>                                        
                                            <else />                                        
                                            <img src="__COMPANY__/{$legalperson}" id="img22" style="width:220px;height:220px;"/>                                        
                                        </if>
                                    </div>
                                    <if condition="!$legalperson">
                                        <!-- 上传按钮 -->                                    
                                        <div class="sckx" id="cd21">
                                            <form name="imgform21" id="imgform21" action="?s=home/entrepre/saveimg21" method="post" enctype="mulytipart/form-data">
                                                <div class="input-file" style="overflow: hidden;position: relative;background:url('./Public/home/images/entrepre/scwj.gif') no-repeat;">
                                                    <input type="file" name="legalperson21" id="legalperson21" style="opacity: 0;filter: alpha(opacity:0);top: 0;right: 0;width:89px;height:30px;cursor:pointer;"></div>
                                                <!-- <input class="companyid" type="hidden" name="companyid" value="{$companyid}"> -->
                                                <input class="prid" type="hidden" name="prid" value="{$prid}">
                                            </form>
                                        </div>
                                        <else />                                    
                                        <!-- 重新上传按钮 -->                                    
                                        <div class="sckx" id="cd22">
                                            <img id="reupload21" name="reupload21" src="__HOME__/images/entrepre/cxsc.gif"></div>
                                    </if>
                                    <!-- 重新上传按钮 -->                                    
                                    <div class="sckx" style="display:none;" id="cd22">
                                        <img id="reupload21" name="reupload21" src="__HOME__/images/entrepre/cxsc.gif"></div>
                                    <!-- 上传文件、取消按钮 -->
                                    <div class="sckx" id="cd23" style="display:none;">
                                        <form name="imgform22" id="imgform22" action="?s=home/entrepre/updateimg21" method="post" enctype="mulytipart/form-data">
                                            <div class="input-file" style="overflow: hidden;position: relative;background:url('./Public/home/images/entrepre/scwj.gif') no-repeat;float:left;">
                                                <input type="file" name="legalperson22" id="legalperson22" style="opacity: 0;filter: alpha(opacity:0);top: 0;right: 0;width:89px;height:30px;cursor:pointer;"></div>
                                            <!-- <input class="companyid" type="hidden" name="companyid" value="{$companyid}"> -->
                                            <input class="prid" type="hidden" name="prid" value="{$prid}">
                                        </form>
                                        <a href="javascript:backimg21()" style="margin-left:5px;">
                                            <img src="__HOME__/images/entrepre/quxiao.gif" />
                                        </a>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                <div class="linfes"></div>
                                <div class="gezild" >
                                    <div class="woqq">
                                        <font style="color:#f00; font-weight:normal">*</font>
                                        营业执照副本
                                    </div>
                                    <div class="kuang" style="width:220px;height:220px;">
                                        <if condition="!$businesslicence">
                                            <img src="__HOME__/images/entrepre/shenfu05.gif" id="img31"/>                                        
                                            <img src="__HOME__/images/entrepre/scwj.gif" id="img32" style="display:none;width:220px;height:220px;float:left;"/>                                        
                                            <else />                                        
                                            <img src="__COMPANY__/{$businesslicence}" id="img32" style="width:220px;height:220px;float:left;"/>                                        
                                        </if>
                                    </div>
                                    <if condition="!$businesslicence">
                                        <!-- 上传按钮 -->                                    
                                        <div class="sckx" id="cd31">
                                            <form name="imgform31" id="imgform31" action="?s=home/entrepre/saveimg31" method="post" enctype="mulytipart/form-data">
                                                <div class="input-file" style="overflow: hidden;position: relative;background:url('./Public/home/images/entrepre/scwj.gif') no-repeat;">
                                                    <input type="file" name="businesslicence31" id="businesslicence31" style="opacity: 0;filter: alpha(opacity:0);top: 0;right: 0;width:89px;height:30px;cursor:pointer;"></div>
                                                <!-- <input class="companyid" type="hidden" name="companyid" value="{$companyid}"> -->
                                                <input class="prid" type="hidden" name="prid" value="{$prid}">
                                            </form>
                                        </div>
                                        <else />                                    
                                        <!-- 重新上传按钮 -->                                    
                                        <div class="sckx" id="cd32">
                                            <img id="reupload31" name="reupload31" src="__HOME__/images/entrepre/cxsc.gif"></div>
                                    </if>
                                    <!-- 重新上传按钮 -->
                                    <div class="sckx" style="display:none;" id="cd32">
                                        <img id="reupload31" name="reupload31" src="__HOME__/images/entrepre/cxsc.gif"></div>
                                    <!-- 上传文件、取消按钮 -->
                                    <div class="sckx" id="cd33" style="display:none;">
                                        <form name="imgform32" id="imgform32" action="?s=home/entrepre/updateimg31" method="post" enctype="mulytipart/form-data">
                                            <div class="input-file" style="overflow: hidden;position: relative;background:url('./Public/home/images/entrepre/scwj.gif') no-repeat;float:left;">
                                                <input type="file" name="businesslicence32" id="businesslicence32" style="opacity: 0;filter: alpha(opacity:0);top: 0;right: 0;width:89px;height:30px;cursor:pointer;"></div>
                                            <!-- <input class="companyid" type="hidden" name="companyid" value="{$companyid}"> -->
                                            <input class="prid" type="hidden" name="prid" value="{$prid}">
                                        </form>
                                        <a href="javascript:backimg31()" style="margin-left:5px;">
                                            <img src="__HOME__/images/entrepre/quxiao.gif"></a>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                <div class="linfes"></div>
                                <div class="gezild" style="height:220px;">
                                    <div class="woqq" >
                                        <font style="color:#f00; font-weight:normal">*</font>
                                        税务登记证副本
                                        <br />
                                        加盖公章
                                    </div>
                                    <div class="kuang" style="width:220px;height:220px;">
                                        <if condition="!$taxcertificate">
                                            <img src="__HOME__/images/entrepre/shenfu06.gif" id="img41" />                                        
                                            <img src="__HOME__/images/entrepre/scwj.gif" id="img42" style="display:none;width:220px;height:220px;"/>                                        
                                            <else />                                        
                                            <img src="__COMPANY__/{$taxcertificate}" id="img42" style="width:220px;height:220px;"/>                                        
                                        </if>
                                    </div>
                                    <if condition="!$taxcertificate">
                                        <!-- 上传按钮 -->                                    
                                        <div class="sckx" id="cd41">
                                            <form name="imgform41" id="imgform41" action="?s=home/entrepre/saveimg41" method="post" enctype="mulytipart/form-data">
                                                <div class="input-file" style="overflow: hidden;position: relative;background:url('./Public/home/images/entrepre/scwj.gif') no-repeat;">
                                                    <input type="file" name="taxcertificate41" id="taxcertificate41" style="opacity: 0;filter: alpha(opacity:0);top: 0;right: 0;width:89px;height:30px;cursor:pointer;"></div>
                                                <input class="companyid" type="hidden" name="companyid" value="{$companyid}">
                                                <input class="prid" type="hidden" name="prid" value="{$prid}">
                                            </form>
                                        </div>
                                        <else />                                    
                                        <!-- 重新上传按钮 -->                                    
                                        <div class="sckx" id="cd42">
                                            <img id="reupload41" name="reupload41" src="__HOME__/images/entrepre/cxsc.gif"></div>
                                    </if>
                                    <!-- 重新上传按钮 -->
                                    <div class="sckx" style="display:none;" id="cd42">
                                        <img id="reupload41" name="reupload41" src="__HOME__/images/entrepre/cxsc.gif"></div>
                                    <!-- 上传文件、取消按钮 -->
                                    <div class="sckx" id="cd43" style="display:none;">
                                        <form name="imgform42" id="imgform42" action="?s=home/entrepre/updateimg41" method="post" enctype="mulytipart/form-data">
                                            <div class="input-file" style="overflow: hidden;position: relative;background:url('./Public/home/images/entrepre/scwj.gif') no-repeat;float:left;">
                                                <input type="file" name="taxcertificate42" id="taxcertificate42" style="opacity: 0;filter: alpha(opacity:0);top: 0;right: 0;width:89px;height:30px;cursor:pointer;"></div>
                                            <!-- <input class="companyid" type="hidden" name="companyid" value="{$companyid}"> -->
                                            <input class="prid" type="hidden" name="prid" value="{$prid}">
                                        </form>
                                        <a href="javascript:backimg41()" style="margin-left:5px;">
                                            <img src="__HOME__/images/entrepre/quxiao.gif"></a>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                <div class="linfes"></div>
                                <div class="gezild" style="height:220px;">
                                    <div class="woqq">
                                        <font style="color:#f00; font-weight:normal">*</font>
                                        公司照片
                                    </div>
                                    <div class="kuang" style="width:220px;height:220px;">
                                        <if condition="!$companyimg">
                                            <img src="__HOME__/images/entrepre/shenfu07.gif" id="img51" />                                        
                                            <img src="__HOME__/images/entrepre/scwj.gif" id="img52" style="display:none;width:220px;height:220px;float:left;"/>                                        
                                            <else />                                        
                                            <img src="__COMPANY__/{$companyimg}" id="img52" style="width:220px;height:220px;float:left;"/>                                        
                                        </if>
                                    </div>
                                    <if condition="!$companyimg">
                                        <!-- 上传按钮 -->                                    
                                        <div class="sckx" id="cd51">
                                            <form name="imgform51" id="imgform51" action="?s=home/entrepre/saveimg51" method="post" enctype="mulytipart/form-data">
                                                <div class="input-file" style="overflow: hidden;position: relative;background:url('./Public/home/images/entrepre/scwj.gif') no-repeat;">
                                                    <input type="file" name="companyimg51" id="companyimg51" style="opacity: 0;filter: alpha(opacity:0);top: 0;right: 0;width:89px;height:30px;cursor:pointer;"></div>
                                                <!-- <input class="companyid" type="hidden" name="companyid" value="{$companyid}"> -->
                                                <input class="prid" type="hidden" name="prid" value="{$prid}">
                                            </form>
                                        </div>
                                        <else />                                    
                                        <!-- 重新上传按钮 -->                                    
                                        <div class="sckx" id="cd52">
                                            <img id="reupload51" name="reupload51" src="__HOME__/images/entrepre/cxsc.gif"></div>
                                    </if>
                                    <!-- 重新上传按钮 -->
                                    <div class="sckx" style="display:none;" id="cd52">
                                        <img id="reupload51" name="reupload51" src="__HOME__/images/entrepre/cxsc.gif"></div>
                                    <!-- 上传文件、取消按钮 -->
                                    <div class="sckx" id="cd53" style="display:none;">
                                        <form name="imgform52" id="imgform52" action="?s=home/entrepre/updateimg51" method="post" enctype="mulytipart/form-data">
                                            <div class="input-file" style="overflow: hidden;position: relative;background:url('./Public/home/images/entrepre/scwj.gif') no-repeat;float:left;">
                                                <input type="file" name="companyimg52" id="companyimg52" style="opacity: 0;filter: alpha(opacity:0);top: 0;right: 0;width:89px;height:30px;cursor:pointer;"></div>
                                            <!-- <input class="companyid" type="hidden" name="companyid" value="{$companyid}"> -->
                                            <input class="prid" type="hidden" name="prid" value="{$prid}">
                                        </form>
                                        <a href="javascript:backimg51()" style="margin-left:5px;">
                                            <img src="__HOME__/images/entrepre/quxiao.gif"></a>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="nexxt">
                            <div style="margin:0 auto;width:244px;height:35px;">
                                <div class="next" style=" background:url('./Public/home/images/entrepre/xis.gif') no-repeat;">
                                    <a href="__URL__/predit01&prid={$prid}">上一步</a>
                                </div>
                                <div class="next" style=" background:url('./Public/home/images/entrepre/xis.gif') no-repeat;">
                                    <a href="__URL__/predit03&prid={$prid}">下一步</a>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</block>