<extend name="Base/register"/>

<block name="header">
	<header>
		<div class="littlebanner">
			<img src="__HOME__/images/entrepre/cailing.gif" />
		</div>
	</header>
</block>

<block name="body">
	<div class="all">
		<div class="allmain" id="register01">
		<div class="buzhou">
			<img src="__HOME__/images/user/tel04.gif" />
		</div>
		<div class="zhanghao">已有账号？<a href="{:U(login)}">立即登录</a></div>
		<form class="reg-form" action="__URL__/add" method="post" id="registerform" name="registerform">
			<div class="midtel">

				<input type="hidden" name="qqopenid" value="{$_GET[openId]}">
				<?php if ($_GET[nickname]): ?>
					<div class="teone" style=" margin-bottom:15px">
						<div class="words">
							qq昵称
						</div>
						<div class="youx">
							<input type="text" value="{$_GET[nickname]}" disabled="disabled" />
						</div>
						<span>此qq昵称将绑定该账号</span>
						<div class="clear"></div>
					</div>
				<?php endif; ?>

				<div class="teone" style=" margin-bottom:15px">
					<div class="words"> <font style="color:#FF0000">*</font>
						邮箱
					</div>
					<div class="youx">
						<input type="text" placeholder="请输入邮箱" name="email" id="email" maxlength="50" />
					</div>
					<span id="emailcue">此邮箱绑定您的账户，可帮您找回密码，一旦注册成功不能修改(最长50个字符)</span>
					<!--提示语-->
					<span id="emailcue2"></span>
					<div class="clear"></div>
				</div>

				<div class="teone" style="margin:15px 0">
					<div class="words"> <font style="color:#FF0000">*</font>
						昵称
					</div>
					<div class="man">
						<input type="text" placeholder="请输入昵称" name="username" id="username"  maxlength="10" />
					</div>
					<span id="usernamecue">此昵称将用作展示，一旦注册成功不能修改(最长10个字符)</span>
					<!--提示语-->
					<span id="usernamecue2"></span>
					<div class="clear"></div>
				</div>

				<div class="teone">
					<div class="words">
						<font style="color:#FF0000">*</font>
						登录密码
					</div>
					<div class="sec">
						<input type="password" placeholder="请输入密码" id="password" name="password" maxlength="16" />
					</div>
					<span id="passwordcue">请以字母加数字的形式设置(最长16个字符)</span>
					<!--提示语-->
					<span id="passwordcue2"></span>
					<div class="clear"></div>
				</div>

				<div class="teone" style="margin:15px 0">
					<div class="words">
						<font style="color:#FF0000">*</font>
						重复密码
					</div>
					<div class="sec">
						<input type="password" placeholder="再次输入密码" id="repassword" name="repassword" maxlength="16" />
					</div>
					<span id="repasscue">密码验证保持一致</span>
					<!--提示语-->
					<span id="repasscue2"></span>
					<div class="clear"></div>
				</div>

				<div class="teone">
					<div class="words">
						<font style="color:#FF0000">*</font>
						验证码
					</div>
					<div class="ma">
						<input type="text"  placeholder="请输入验证码" name="code" />
					</div>
					<div class="yanzheng">
						<img class="verifyimg reloadverify" alt="点击切换" src="{:U('verify')}" style="cursor:pointer;">
					</div>
					<div class="zhuan">
						<a>
							<img class="update_varifyimg" src="__HOME__/images/user/zhuan.gif" />
						</a>
					</div>
					<div class="clear"></div>
				</div>
				<script>
				$(function(){
					var verifyimg = $(".verifyimg").attr("src");
		            $(".update_varifyimg,.reloadverify").click(function(){
		                if( verifyimg.indexOf('?')>0){
		                    $(".verifyimg").attr("src", verifyimg+'&random='+Math.random());
		                }else{
		                    $(".verifyimg").attr("src", verifyimg.replace(/\?.*$/,'')+'?'+Math.random());
		                }
		            });
				});
				</script>

				<div class="rell">
					<input type="checkbox" style="margin-top:5px;" name="agreement" id="agreement" value="1"/>
					<div class="les">
						我已阅读并同意
						<a href="?s=Home/Help/yonghu">《微风投网站服务协议》</a>
					</div>
					<div class="clear"></div>
				</div>
				<div class="relg">
					<input type="image" src="__HOME__/images/user/reg02.gif" id="register" style="width:165px;height:40px;"></div>
			</div>
		</form>
	</div>
</div>
<div id="email_urls" style="display:none"><?php
	$db2=C('BASIC_LIB_TABLES');
    $urls = M('EmailLoginUrls','lib_',$db2)->getField('case_sender,return_url');
    $urls = json_encode($urls);
    echo $urls;
?></div>
<script>
$(document).ready(function(){
	function trig_error(){
		$(".update_varifyimg").trigger('click')
		layer.closeAll()
	}
	function getEmailUrls () {
		var email_urls = $("#email_urls").text()
		email_urls = jQuery.parseJSON(email_urls)
		return email_urls
	}
	$('#register').on('click',function(){
		if (!$("#agreement").attr('checked')) {
			layer.alert("未同意协议!")
			return false;
		}
		var code = $("input[name=code]").val()
		$.post('?s=Home/User/checkVerify', {code:code}, function(data, textStatus, xhr) {
			if (data) {
				$('#registerform').ajaxSubmit({
					beforeSubmit:function(){
						layer.alert("loading...",1)
						var usernamelen = 10;
						var passwordlen = 20; 
						var r=/^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(.[a-zA-Z0-9_-])+/ ; 	//邮箱正则表达式

						if($('#email').val().length==''){
							trig_error()
							$('#emailcue2').html("<font color='red'>邮箱不能为空！请重新输入！</font>");
							$('#emailcue').hide();
							return false;
						}else if(!r.test($('#email').val())){
							trig_error()
							$('#emailcue2').html("<font color='red'>邮箱格式不正确！请重新输入！</font>");
							$('#emailcue').hide();
							return false;	
						}else if(r.test($('#email').val())){
							$('#emailcue').show();
							$('#emailcue2').hide();
						}
						if($.trim($('#username').val()).length==0){
							trig_error()
							$('#usernamecue2').html("<font color='red'>用户名不能为空！请输入！</font>");
							$('#usernamecue').hide();
							return false;
						}else if($.trim($('#username').val()).length>usernamelen){
							trig_error()
							$('#usernamecue2').html("<font color='red'>用户名不正确！请重新输入！</font>");
							$('#usernamecue').hide();
							return false;
						}else if($.trim($('#username').val()).length>0&&$.trim($('#username').val()).length<usernamelen){
							$('#usernamecue').show();
							$('#usernamecue2').hide();
						}
						if($('#password').val().length==''){
							trig_error()
							$('#passwordcue2').html("<font color='red'>密码不能为空！请输入！</font>");
							$('#passwordcue').hide();
							return false;
						}else if($('#password').val().length<6||$('#password').val().length>passwordlen){
							trig_error()
							$('#passwordcue2').html("<font color='red'>密码不符合要求！请重新输入！</font>");
							$('#passwordcue').hide();
							return false;
						}else if($('#password').val().length>0&&$('#password').val().length<passwordlen){
							$('#passwordcue2').hide();
							$('#passwordcue').show();
						}
						if($('#repassword').val().length==''){
							trig_error()
							$('#repasscue2').html("<font color='red'>请输入确认密码！</font>");
							$('#repasscue').hide();
							return false;
						}else if($('#repassword').val()!=$('#password').val()){
							trig_error()
							$('#repasscue2').html("<font color='red'>密码不一致！请重新输入！</font>");
							$('#repasscue').hide();
							return false;
						}else if($('#repassword').val().length>0&&$('#repassword').val()==$('#password').val()){
							$('#repasscue2').hide();
							$('#repasscue').show();
						} 
					},
					success:function(data){
						if(data==-1){
							trig_error()
							$('#emailcue2').html("<font color='red'>邮箱已存在，请检查是否验证后登陆！</font>");
							$('#emailcue').hide();
							$('#emailcue2').show();
						}else if(data==0){
							trig_error()
							$('#usernamecue2').html("<font color='red'>用户名已存在！请重新输入！</font>");
							$('#usernamecue').hide();
							$('#usernamecue2').show();
						}else if(data==1){
							var url =$("input[name=email]").val().split('@')[1]; 
							layer.alert('已注册，请登录邮箱验证！成功后请刷新本页面', 9,function(){
								var hash = getEmailUrls()
								layer.closeAll()
								window.open (hash[url], 'newwindow', 'height=768px, width=1024px, scrollbars=yes, resizable=yes')
							})
						}else if(data==2){
							trig_error()
							layer.alert('邮箱验证失败！',9) //邮箱验证失败！
						}else{
							alert(data)
						}
					}
				});
			}else{
				trig_error()
				layer.alert("验证码错误")
			}
		});
		return false;
	});
});
</script>
</block>