<div class="article_r">	
	    <div class="article_rd">
			<ul>
				<li>
					<span>关于微风投</span>
				</li>
				<li><a href="?s=/Home/Article/detail/id/54" class="<?php if($_GET[id]==54){echo "current";} ?>">平台简介</a></li>
		        <!-- <li><a href="?s=/Home/Article/detail/id/78" class="<?php if($_GET[id]==78){echo "current";} ?>">平台公告</a></li> -->
		        <li><a href="?s=/Home/Article/detail/id/80" class="<?php if($_GET[id]==80){echo "current";} ?>">合作伙伴</a></li>
		        <li><a href="?s=/Home/Article/detail/id/81" class="<?php if($_GET[id]==81){echo "current";} ?>">联系我们</a></li>
		        <li><a href="?s=/Home/Article/detail/id/82" class="<?php if($_GET[id]==82){echo "current";} ?>">媒体报道</a></li>
		        <!-- <li><a href="?s=/Home/Article/detail/id/83" class="<?php if($_GET[id]==83){echo "current";} ?>">招贤纳士</a></li> -->
				
			</ul>
		</div>

		<div class="ewm">
			<img src="__STATIC__/images/weixin1.gif" width="189" height="189" alt="微风投官方微信" />
			关注【微风投】微信订阅号
		</div>

</div>		