<div class="article_r">	
	    <div class="article_rd">
			<ul>
				<li>
					<span>新手入门</span>
				</li>
				<li><a href="?s=/Home/Article/detail/id/73" class="<?php if($_GET[id]==73){echo "current";} ?>">注册流程</a></li>
		        <li><a href="?s=/Home/Article/detail/id/56" class="<?php if($_GET[id]==56){echo "current";} ?>">我要投资</a></li>
		        <li><a href="?s=/Home/Article/detail/id/86" class="<?php if($_GET[id]==86){echo "current";} ?>">我要融资</a></li>
				
			</ul>
		</div>

		<div class="ewm">
			<img src="__STATIC__/images/weixin1.gif" width="189" height="189" alt="微风投官方微信" />
			关注【微风投】微信订阅号
		</div>

</div>		