<div class="article_r">	
	    <div class="article_rd">
			<ul>
				<li>
					<span>帮助中心</span>
				</li>
				<li><a href="?s=/Home/Article/detail/id/72" class="<?php if($_GET[id]==72){echo "current";} ?>">新手须知</a></li>
		        <li><a href="?s=/Home/Article/detail/id/74" class="<?php if($_GET[id]==74){echo "current";} ?>">常见问题</a></li>
		        <li><a href="?s=/Home/Article/detail/id/75" class="<?php if($_GET[id]==75){echo "current";} ?>">意见反馈</a></li>
		        <li><a href="?s=/Home/Article/detail/id/76" class="<?php if($_GET[id]==76){echo "current";} ?>">免责声明</a></li>
				
			</ul>
		</div>

		<div class="ewm">
			<img src="__STATIC__/images/weixin1.gif" width="189" height="189" alt="微风投官方微信" />
			关注【微风投】微信订阅号
		</div>

</div>		