<div class="article_r">	
	    <div class="article_rd">
			<ul>
				<li>
					<span>安全保障</span>
				</li>
				<li><a href="?s=/Home/Article/detail/id/69" class="<?php if($_GET[id]==69){echo "current";} ?>">资金保障</a></li>
		        <li><a href="?s=/Home/Article/detail/id/70" class="<?php if($_GET[id]==70){echo "current";} ?>">风控保障</a></li>
		        <li><a href="?s=/Home/Article/detail/id/66" class="<?php if($_GET[id]==66){echo "current";} ?>">法律保障</a></li>
				
			</ul>
		</div>

		<div class="ewm">
			<img src="__STATIC__/images/weixin1.gif" width="189" height="189" alt="微风投官方微信" />
			关注【微风投】微信订阅号
		</div>

</div>		