<?php 
    $is_att = M('attention')->where("uid='$userinfo[id]' AND atted_childid='$_GET[pid]'")->limit(1)->select();
    $atts = M('attention')->where("atted_childid='$_GET[pid]'")->select();
    if ($is_att) {
        $att_status = "已关注";
    }else{
        $att_status = "关注";
    }

    $yts = M('Webmsg')->where("receiveid='$_GET[pid]'")->select();
?>
<div class="mendingr_s"></div>
<div class="xmainr_a">
    <div style="width:268px; background:#fff; padding:0 25px 0 24px">
        <div class="attention">
            <div class="attention_l">
                <?php if ($is_att): ?>
                    <img src="__IMG__/project/prdetail/gz1.gif" />
                <?php else: ?>
                    <img src="__IMG__/project/prdetail/gz2.gif" />
                <?php endif; ?>
            </div>
            <script>
            $(".attention").on("mousemove",function (e) {
                var img_url = "__IMG__"
                var x = "{$att_status}"
                if (x=="已关注") {
                    $(this).children(".attention_l").children("img").attr("src",img_url+"/project/prdetail/gz2.gif")
                }
                if (x=="关注") {
                    $(this).children(".attention_l").children("img").attr("src",img_url+"/project/prdetail/gz1.gif")
                }
            })
            $(".attention").on("mouseout",function (e) {
                var img_url = "__IMG__"
                var x = "{$att_status}"
                if (x=="已关注") {
                    $(this).children(".attention_l").children("img").attr("src",img_url+"/project/prdetail/gz1.gif")
                }
                if (x=="关注") {
                    $(this).children(".attention_l").children("img").attr("src",img_url+"/project/prdetail/gz2.gif")
                }
            })
            </script>
            <div class="attention_r">
                <a id="guan_zhu">
                    <span>{:count($atts)}</span><font>{$att_status}</font>
                </a>
            </div>
            <div class="clear"></div>
        </div>

        <script>
        jQuery(document).ready(function($) {
            var pid = "{$proInfo[0][id]}"
            $('.attention').on('click', function(e) {
                // event.preventDefault();
                if ($("#guan_zhu>font").html()=="关注") {
                    $.post('?s=home/user/showloginStyle', {pid:pid}, function(data, textStatus, xhr) {
                        if (data==0) {
                            minilogin()
                        }
                        if (data==1||data==2) {
                            $.post('?s=home/project/attention',{pid:pid}, function(data, textStatus, xhr) {
                                if (data=="关注成功！") {
                                    layer.alert(data,1)
                                    location.reload() 
                                }
                                if (data=="不能关注自己！") {
                                    layer.alert(data)
                                }
                            });
                        }
                        if (data==3) {
                            layer.alert("你尚未注册完成！",8)
                        }
                    });
                }else{
                    $.post('?s=Home/Project/delAtt',{pid:pid}, function(data, textStatus, xhr) {
                        /*optional stuff to do after success */
                        if(data=="取消成功!"){
                            location.reload() 
                        }
                        layer.alert(data)
                    });
                }
            });
        });
        </script>

        <div class="attentionnn" style="border-right:none;">
            <div class="attentionnn_l">
                <img src="__IMG__/project/prdetail/ytan2.gif" />
            </div>
            <div class="attentionnn_r">
                <a id="yue_tan">
                    <span>{:count($yts)} </span><font>约谈</font>
                </a>
            </div>
            <div class="clear"></div>
        </div>
        <script>
        jQuery(document).ready(function($) {
            var pid = "{$proInfo[0][id]}"
            $("#yue_tan").on('click', function(event) {
                $.post('?s=home/user/showloginStyle',{pid:pid}, function(data, textStatus, xhr) {
                    if (data==0) {
                        minilogin()
                    }
                    if (data==1||data==2) {
                        $.post('?s=Home/Project/isWebMsgYou',{pid:pid}, function(data, textStatus, xhr) {
                            if (data=="不能对自己发送！") {
                                layer.alert(data)
                                return false;
                            }
                            layer.prompt({
                                type: 3, 
                                title: '站内信'
                            }, function(val, index, elem){
                                if (val=='') {
                                    layer.alert("不能为空！")
                                    return false;
                                }
                                $.post('?s=home/project/webMsg', {pid:pid,val:val}, function(data, textStatus, xhr) {
                                    layer.alert(data,1)
                                    location.reload() 
                                });
                            })
                        });
                    }
                    if (data==3) {
                        layer.alert("你尚未注册完成！",8)
                    }
                });
            });
        });
        </script>

        <div class="clear"></div>
    </div>
</div>
<div class="mendingr_x"></div>