<div id="mo_shi">
    <div class="mending_x">
        <div class="vcmode">
            <div class="vcmode_a">
                <p>
                    微风投商业模式是梧桐盛嘉董事长杜志刚，经过多年的潜心摸索和研究及多年的商业实践，参考各界精英和专业人士的见解而独创的一款定位于小微企业中长期融资需求的金融创新产品，即“好项目+创业者+投资人+服务方”多方共赢的商业组合，专注于小微实体企业，让价值链的每一个环节都成为赢家。
                </p>
                <p>
                    微风投模式运用资源整合的商业思维，把项目方、投资方、经营方、监管方四方资源进行全方位整合，使优质的、品牌的、有前景的、可复制的、有团队的商业项目和民间资本、广大创业者、管理服务进行多向组合，互惠互利、项目落地、快速复制、创业成功。
                </p>
                <p>
                    微风投商业模式为民间资金开辟一个稳定收益，快速升值的通道。其操作模式安全透明、流程完备、项目落地、法律保障、控制风险、各方共赢、社会支持、政府鼓励。
                </p>
            </div>
            <div class="vcmode_b">
                <div class="vcmode_ev">
                    <div class="vcmode_l">
                        <div class="vcmode_c">项目方</div>
                        <div class="vcmode_d">
                            <img src="__IMG__/project/prdetail/vcmode-1.gif" />
                        </div>
                        <div class="vcmode_e">发布项目</div>
                    </div>
                    <div class="vcmode_r">></div>
                    <div class="clear"></div>
                </div>

                <div class="vcmode_ev">
                    <div class="vcmode_l">
                        <div class="vcmode_c">微风投</div>
                        <div class="vcmode_d">
                            <img src="__IMG__/project/prdetail/vcmode-1.gif" />
                        </div>
                        <div class="vcmode_e">项目审核</div>
                    </div>
                    <div class="vcmode_r">></div>
                    <div class="clear"></div>
                </div>

                <div class="vcmode_ev">
                    <div class="vcmode_l">
                        <div class="vcmode_c">投资人</div>
                        <div class="vcmode_d">
                            <img src="__IMG__/project/prdetail/vcmode-1.gif" />
                        </div>
                        <div class="vcmode_e">项目融资</div>
                    </div>
                    <div class="vcmode_r">></div>
                    <div class="clear"></div>
                </div>

                <div class="vcmode_ev">
                    <div class="vcmode_l">
                        <div class="vcmode_c">投资人</div>
                        <div class="vcmode_d">
                            <img src="__IMG__/project/prdetail/vcmode-1.gif" />
                        </div>
                        <div class="vcmode_e">项目放款</div>
                    </div>
                    <div class="vcmode_r">></div>
                    <div class="clear"></div>
                </div>

                <div class="vcmode_ev">
                    <div class="vcmode_l">
                        <div class="vcmode_c">项目方</div>
                        <div class="vcmode_d">
                            <img src="__IMG__/project/prdetail/vcmode-1.gif" />
                        </div>
                        <div class="vcmode_e">资金申请</div>
                    </div>
                    <div class="vcmode_r">></div>
                    <div class="clear"></div>
                </div>

                <div class="vcmode_ev">
                    <div class="vcmode_l">
                        <div class="vcmode_c">微风投</div>
                        <div class="vcmode_d">
                            <img src="__IMG__/project/prdetail/vcmode-1.gif" />
                        </div>
                        <div class="vcmode_e">资金审核</div>
                    </div>
                    <div class="vcmode_r">></div>
                    <div class="clear"></div>
                </div>

                <div class="vcmode_ev">
                    <div class="vcmode_l">
                        <div class="vcmode_c">微风投</div>
                        <div class="vcmode_d">
                            <img src="__IMG__/project/prdetail/vcmode-1.gif" />
                        </div>
                        <div class="vcmode_e">财务监管</div>
                    </div>

                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
            <div>
                <img src="__IMG__/project/prdetail/vcmode2.jpg" />
                <img src="__IMG__/project/prdetail/vcmode3.jpg" />
                <img src="__IMG__/project/prdetail/vcmode4.jpg" />
            </div>
        </div>
    </div>
</div>