<div class="mendingr_s"></div>
<div class="xmainr_b">
    <div class="question">
        <div class="question_l">常见问题解释</div>
        <div class="question_r">
            <a href="?s=/Home/Article/detail/id/74.html">MORE</a>
        </div>
        <div class="clear"></div>
    </div>

    <div>
        <div class="answer">
            <div class="answer_er">
                <div class="answer_a">
                    Q：
                    <a href="?s=/Home/Article/detail/id/74.html">微风投创投服务平台接洽什么性质的项目？</a>
                </div>
                <div class="answer_b">
                    A：
                    <a href="?s=/Home/Article/detail/id/74.html">我们找的项目都是有针对性的...</a>
                </div>
            </div>

            <div class="answer_er">
                <div class="answer_a">
                    Q：
                    <a href="?s=/Home/Article/detail/id/74.html">我想创业，微风投创投服务平台能够助我完成创业梦想吗?</a>
                </div>
                <div class="answer_b">
                    A：
                    <a href="?s=/Home/Article/detail/id/74.html">只要你敢想，在这里，你的未来不是梦！</a>
                </div>
            </div>

            <div class="answer_er">
                <div class="answer_a">
                    Q：
                    <a href="?s=/Home/Article/detail/id/74.html">作为投资人，怎么对接我所看好的项目呢?</a>
                </div>
                <div class="answer_b">
                    A：
                    <a href="?s=/Home/Article/detail/id/74.html"> 微风投创投服务平台作为第三方服务机构...</a>
                </div>
            </div>

            <div class="answer_er">
                <div class="answer_a">
                    Q：
                    <a href="?s=/Home/Article/detail/id/74.html">经常不在线，好项目失之交臂怎么办?</a>
                </div>
                <div class="answer_b">
                    A：
                    <a href="?s=/Home/Article/detail/id/74.html">一旦有好项目上线，微风投创投服务平台就会...</a>
                </div>
            </div>

            <div class="answer_er">
                <div class="answer_a">
                    Q：
                    <a href="?s=/Home/Article/detail/id/74.html">创业需要具备什么条件？</a>
                </div>
                <div class="answer_b">
                    A：
                    <a href="?s=/Home/Article/detail/id/74.html">（1）要有不服输的韧劲； ...</a>
                </div>
            </div>
            
            <div class="answer_er">
                <div class="answer_a">
                    Q：
                    <a href="?s=/Home/Article/detail/id/74.html">什么样的项目才是好项目？</a>
                </div>
                <div class="answer_b">
                    A：
                    <a href="?s=/Home/Article/detail/id/74.html">（1）要符合自己的投资标准； ...</a>
                </div>
            </div>

        </div>

    </div>
</div>
<div class="mendingr_x"></div>