<div id="xiang_shu">
	<div class="mending_x">

		<!--会员中心编辑 在此显示 添加的图片放在 p标签中-->
		<div class="project-detail">
		<!-- <?php if ($proInfo[0]['prdescription']): ?>
			{$proInfo[0]['prdescription']|htmlspecialchars_decode}
		<?php else: ?> -->

		<!-- <?php endif; ?> -->
			<div class="payget">
	            <div class="payget-ev">
	                <div class="payget_l">
	                    <img src="__IMG__/project/prdetail/aboutus.gif" />
	                </div>
	                <div class="payget_r">
	                    <h3>关于我们</h3>
	                    <p>{$proInfo[0][prabout]}</p>
	                </div>
	                <div class="clear"></div>
	            </div>
	            <div class="payget-ev">
	                <div class="payget_l">
	                    <img src="__IMG__/project/prdetail/whyhelp.gif" />
	                </div>
	                <div class="payget_r">
	                    <h3>为什么我们需要你的支持</h3>
	                    <p>{$proInfo[0][prwhysupport]}</p>
	                </div>
	                <div class="clear"></div>
	            </div>
	            <div class="payget-ev">
	                <div class="payget_l">
	                    <img src="__IMG__/project/prdetail/chengnuo.gif" />
	                </div>
	                <div class="payget_r">
	                    <h3>我们的承诺和汇报</h3>
	                    <p>{$proInfo[0][prpromise]}</p>
	                </div>
	                <div class="clear"></div>
	            </div>
	            <div class="payget-ev">
	                <div class="payget_l">
	                    <img src="__IMG__/project/prdetail/fengxian.gif" />
	                </div>
	                <div class="payget_r" style="border-bottom:none">
	                    <h3>项目风险</h3>
	                    <p>{$proInfo[0][prdanger]}</p>
	                </div>
	                <div class="clear"></div>
	            </div>
	        </div>
		</div>

	</div>
</div>