<!DOCTYPE html>
<html lang="en">
<head>
	<include file="Public/head"/>

	<!--兼容插件-->
	<!-- <script src="__STATIC__/jquery-migrate-1.2.1.min.js"></script> -->

	<!--表单插件-->
	<script src="__STATIC__/jquery.form.js"></script>

	<!--日历插件-->
	<script src="__STATIC__/jQueryValidation/lib/jquery.validate.js"></script>
	<script src="__STATIC__/jQueryValidation/lib/jquery.metadata.js"></script>
	<script src="__STATIC__/jQueryValidation/lib/jquery.validate.messages_cn.js"></script>

	<!--分页插件-->
	<link rel="stylesheet" href="__STATIC__/jPages/css/jPages.css" />
	<script src="__STATIC__/jPages/js/jPages.min.js"></script>

	<!-- 自定义 -->
	<!-- <link rel="stylesheet"  href="__CSS__/bottom_helps/sucerity.css" type="text/css" /> -->
	<link rel="stylesheet"  href="__CSS__/bottom_helps/bottom_helps_con.css" type="text/css" />
	<link rel="stylesheet"  href="__CSS__/bottom_helps/bottom_helps_right.css" type="text/css" />
</head>
<body>

	<!-- 头部 -->
	<include file="Public/header"/>
	<!-- /头部 -->

	<!-- 主体 -->
	<div class="bottonmm">
		<block name="top"></block>
		<block name="left"></block>
		<block name="right"></block>
		<div class="clear"></div>
	</div>
	<!-- /主体 -->

	<!-- 底部 -->
	<include file="Public/footer"/>
	<!-- /底部 -->
	
</body>
</html>