<!DOCTYPE HTML>
<html>
<head>
	<include file="Public/head"/>
	<link rel="stylesheet" type="text/css" href="__HOME__/css/entrepre.css">
	<!-- ========================悬浮区css============================================== -->
	<link rel="stylesheet" type="text/css" href="__HOME__/css/xuanfu.css">
	<script type="text/javascript" src="__STATIC__/jquery.form.js" language="javascript"></script>
    <script type="text/javascript" src="__HOME__/js/json2.js" language="javascript"></script>
    <script type="text/javascript" src="__HOME__/js/entrepre03.js" language="javascript"></script>
    <script type="text/javascript" src="__STATIC__/layer.min.js" language="javascript"></script>
    <!-- <script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.js" language="javascript"></script> -->
    <script type="text/javascript" src="__STATIC__/swfobject2.2.js" language="javascript"></script>
    <!-- <link rel="stylesheet" type="text/css" href="__STATIC__/uploadify/uploadify.css"> -->
    <!-- <script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js" language="javascript"></script>
    <link rel="stylesheet" type="text/css" href="__STATIC__/uploadify/uploadify.css"> -->
    <!-- ========================悬浮区js============================================== -->
	<script type="text/javascript" src="__HOME__/js/scrolltotop.js"></script>
</head>
<body>
	<!-- 头部 -->
	<include file="Public/header"/>
	<!-- /头部 -->
	
	<!-- 主体 -->
	<include file="Public/body"/>
	<!-- /主体 -->

	<!-- 底部 -->
	<include file="Public/footer"/>
	<!-- /底部 -->
</body>
</html>
