<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=7" />
	<include file="Public/head"/>
	<link rel="stylesheet" type="text/css" href="__HOME__/css/entrepre.css">
	<!-- ========================悬浮区css============================================== -->
	<link rel="stylesheet" type="text/css" href="__HOME__/css/xuanfu.css">
	<script type="text/javascript" src="__STATIC__/jquery.form.js" language="javascript"></script>
    <script type="text/javascript" src="__HOME__/js/json2.js" language="javascript"></script>
    
    <!-- <script type="text/javascript" src="__HOME__/js/photoupload.js"></script>
    <link rel="stylesheet"  href="__HOME__/css/pictu.css" type="text/css" > -->
    <script type="text/javascript" src="__STATIC__/layer.min.js" language="javascript"></script> 
    <!-- ========================悬浮区js============================================== -->
	<script type="text/javascript" src="__HOME__/js/scrolltotop.js"></script>
	
	<!-- 配置文件 -->
	<script type="text/javascript" charset="utf-8" src="__STATIC__/ueditor/ueditor.config.js" language="javascript"></script>
	<!-- 编辑器源码文件 -->
	<script type="text/javascript" charset="utf-8" src="__STATIC__/ueditor/ueditor.all.js" language="javascript"></script>
	<script type="text/javascript" charset="utf-8" src="__STATIC__/ueditor/lang/zh-cn/zh-cn.js"></script>
</head>
<body>
	<!-- 头部 -->
	<include file="Public/header"/>
	<!-- /头部 -->
	
	<!-- 主体 -->
	<include file="Public/body"/>
	<!-- /主体 -->

	<!-- 底部 -->
	<include file="Public/footer"/>
	<!-- /底部 -->
</body>
</html>