<!DOCTYPE HTML>
<html>
<head>
	<include file="Public/head"/>
	<!-- =============================================================================== -->
	<link rel="stylesheet"  href="__CSS__/innovation.css" type="text/css" />
	<!-- 筛选区 -->
	<link rel="stylesheet"  href="__HOME__/css/selectAreaTrade.css" type="text/css" /> 
	<!-- 悬浮区css -->
	<link rel="stylesheet" type="text/css" href="__HOME__/css/xuanfu.css">
	<!-- 分页 -->
	<script src="__STATIC__/jPages/js/jPages.min.js"></script>
  	<script src="__JS__/invhome.js"></script>  
  	<!-- 悬浮区js -->
  	<script type="text/javascript" src="__HOME__/js/scrolltotop.js"></script>
  	<!-- ================================================================================= -->
</head>
<body>
	<!-- 头部 -->
	<include file="Public/header"/>
	<!-- /头部 -->
	
	<!-- 主体 -->
	<include file="Public/body"/>
	<!-- /主体 -->

	<!-- 底部 -->
	<include file="Public/footer"/>
	<!-- /底部 -->
</body>
</html>

