<!DOCTYPE HTML>
<html>
<head>
	<include file="Public/head"/>

	<!--表单插件-->
	<script src="__STATIC__/jquery.form.js"></script>

	<!--验证插件-->
	<!-- <script src="__STATIC__/jQueryValidation/lib/jquery.validate.min.js"></script>
	<script src="__STATIC__/jQueryValidation/lib/jquery.metadata.js"></script>
	<script src="__STATIC__/jQueryValidation/lib/jquery.validate.messages_cn.js"></script>
	<style type="text/css">
	/*错误样式*/
	input.error { border: 1px dashed red;background:yellow; padding:2px; }
	select.error { border: 1px dashed red; background:yellow; padding:;}
	.error {
        float: left;
        height: 30px;
        line-height: 30px;
        padding-left: 16px;
        margin-left: 2px;
        color:red;
        /*背景图片（校验未通过的’×’图标）*/
        /*background: url(unchecked.gif) no-repeat 0px 0px;*/
        font-family:Verdana, Geneva, sans-serif;
        font-size:13px;
    }
    </style> -->

    <!-- 富文本编辑器 -->
    <!-- <script src="__STATIC__/ueditor/ueditor.all.min.js"></script> -->
    <!-- <script type="text/javascript" src="__STATIC__/ueditor/ueditor.config.js"></script> -->

    <!-- kindeditor文本编辑器 -->
    <link rel="stylesheet" href="__STATIC__/kindeditor/themes/default/default.css">
    <script src="__STATIC__/kindeditor/kindeditor-min.js"></script>
    <script src="__STATIC__/kindeditor/zh_CN.js"></script>

	<!--分页插件-->
	<!-- <link rel="stylesheet" href="__STATIC__/jPages/css/jPages.css" /> -->
	<!-- <script src="__STATIC__/jPages/js/jPages.min.js"></script>  -->

	<!--自定义-->
	<link rel="stylesheet" href="__CSS__/investor.css" type="text/css" />
	<script type="text/javascript" src="__JS__/investor.js"></script>
	<link rel="stylesheet" type="text/css" href="__HOME__/css/footer.css">
	
</head>
<body>
	<!-- 头部 -->
	<include file="Public/header"/>
	<!-- /头部 -->

	<!-- 主体 -->
	<include file="Public/body"/>
	<!-- /主体 -->

	<!-- 底部 -->
	<include file="Public/footer"/>
	<!-- /底部 -->
</body>
</html>