<!DOCTYPE HTML>
<html>
<head>
    <include file="Public/head"/>
    <link rel="stylesheet" type="text/css" href="__HOME__/css/detail.css">
    <link rel="stylesheet" href="__STATIC__/jPages/css/jPages.css" />
    <!-- ========================悬浮区css============================================== -->
    <link rel="stylesheet" type="text/css" href="__HOME__/css/xuanfu.css">
    <link  rel="stylesheet" href="__CSS__/mingcijieshi.css" />
    <script src="__STATIC__/jPages/js/jPages.min.js"></script>
    <script src="__JS__/project.js"></script>
    <!-- ========================悬浮区js============================================== -->
    <script type="text/javascript" src="__HOME__/js/scrolltotop.js"></script>
    <style>
    .footer{
        height:227px;
    }
    </style>
</head>
<body>
    <!-- 头部 -->
    <include file="Public/header"/>
    <!-- /头部 -->

    <!-- 主体 -->
    <include file="Public/body"/>
    <!-- /主体 -->
    <div class="ddg">
        <div class="gd">

            <div class="gd_l">
            	<if condition="($fin_needs[0][privacyset] eq 1) OR ($_SESSION[wft_home][userinfo][id] neq '')">
					<div class="gdd_l">
                    	<p>
                       		 已认购金额：￥
                        	<?php $money = 0; foreach ($fins as $key =>$value) {
                           		$money += $value[money];
                        	} echo number_format($money); ?>
                    	</p>
                    	<br />
						<div class="clear"></div>
						<p>融资总金额：￥ 
                    		<?php echo number_format($fin_needs[0][budget]); ?>
                    	</p>
                	</div>

                	<div class="gdd_r">
                    	<p>你是否要预约出资</p>

                    	<p>
                     	 	 需完成
                        	<?php $attrmoney = $fin_needs[0][budget]-$money; ?>
                        	<span>
                           		 ￥<?php echo number_format($attrmoney>0?$attrmoney:"0"); ?>
                        	</span>
                       		 的支持才可成功
                    	</p>
                    	<div class="clear"></div>
					</div>
				<elseif condition="$fin_needs[0][privacyset] eq 0"/>
					<div class="gdd_l">
                    	<p>
                       		已认购金额：
                            <?php 
                                $money=0;
                                foreach($fins as $key =>$value){
                                    $money+=$value[money];
                                }
                                $ed = round($money/$fin_needs[0][budget]*100,2);
                                if($ed>100){
                                    echo 100;
                                }else{
                                    echo $ed;
                                } 
                            ?>%
                    	</p>
                    	<br />
						<div class="clear"></div>
						<p>
							融资总金额： 100%
                    	</p>
                	</div>

                	<div class="gdd_r">
                    	<p>你是否要预约出资</p>

                    	<p>
                     	 	 需完成
                        	<?php $attrmoney = $fin_needs[0][budget]-$money; ?>
                        	<span>
                           		<?php $ec = round($attrmoney/$fin_needs[0][budget]*100,2);if($ec<0){echo 0;}else{echo $ec;} ?>%
                        	</span>
                       		 的支持才可成功
                    	</p>
                    	<div class="clear"></div>
					</div>
				</if>

                <div class="clear"></div>

            </div>

            <div class="gd_r">

                <div class="po">
                    <a href="javascript:chuzi();">
                        <img src="__HOME__/images/detail/chuzi.gif" alt="出资" width="160" height="50" />
                    </a>
                </div>
            </div>

            <div class="clear"></div>
        </div>
    </div>

    
    <input type="hidden" id="cz_max" value="{$attrmoney}">
    <input type="hidden" id="cz_pid" value="{$proInfo[0][pid]}">
    <input type="hidden" id="cz_prid" value="{$proInfo[0][id]}">
    <script>
        var cz_max = $('#cz_max').val()
        var pid = $("#cz_pid").val()
        var prid = $("#cz_prid").val()
        var obj ={
            cz_max:cz_max,
            pid:pid,
            prid:prid
        }
    </script>

    <div id="mini_yycz" style="width:460px; height:300px; background-color:#8f8f8f; color:#fff; display:none;">
        <div style="padding:20px;">
            <p>
                请输入你的预计投资金额并检查，我们将在一周内回复
                <br>(如果你之前对这个项目提交了预约出资，将会覆盖原来的信息)</p>
            <p>出资金额(元)：</p>
            <input type="text" id="cz_maney" placeholder="出资金额(元)"/>
            <p>出资信息：</p>
            <textarea id="cz_msg" placeholder="出资信息" style="width:400px; height:130px;resize:none;"></textarea>
            <br>
            <a href="javascript:czok(obj);">
                <img src="./Public/Home/images/detail/qrcz.gif" />
            </a>
        </div>
    </div>

    <!-- 底部 -->
    <include file="Public/footer"/>
    <!-- /底部 -->
</body>
</html>
