<!DOCTYPE HTML>
<html>
<head>
	<include file="Public/head"/>
	<link rel="stylesheet" type="text/css" href="__HOME__/css/register.css">
	<link rel="stylesheet"  href="__HOME__/css/wwwexplan.css" type="text/css" />
	<!-- ========================悬浮区css============================================== -->
	<link rel="stylesheet" type="text/css" href="__HOME__/css/xuanfu.css">
	<!-- ========================我们的服务css========================================== -->
	<link rel="stylesheet" type="text/css" href="__HOME__/css/serve.css">
	<!-- ========================懂你落地页css========================================== -->
	<link rel="stylesheet" type="text/css" href="__HOME__/css/knowYou.css">
	<!-- ========================建议页css============================================== -->
	<script type="text/javascript" src="__STATIC__/jquery.form.js" language="javascript"></script>
	<script type="text/javascript" src="__HOME__/js/json2.js" language="javascript"></script>
    <script type="text/javascript" src="__HOME__/js/register.js" language="javascript"></script>
    <!-- ========================悬浮区js============================================== -->
	<script type="text/javascript" src="__HOME__/js/scrolltotop.js"></script>  
	<!-- ========================网站说明页小登录窗口 -->
	<script type="text/javascript" src="__HOME__/js/index.js"></script>
</head>
<body>
	<!-- 头部 -->
	<include file="Public/header"/>
	<!-- /头部 -->
	
	<!-- 主体 -->
	<include file="Public/body"/>
	<!-- /主体 -->

	<!-- 底部 -->
	<include file="Public/footer"/>
	<!-- /底部 -->
</body>
</html>

