<extend name="Base/invcenter"/>

<block name="header">
    <header>
        <!--banner-->
        <div class="littlebanner">
            <img src="__IMG__/investor/invcenter/cailing.gif" />
        </div>
        <script type="text/javascript">
            jQuery(document).ready(function($) {
                $('#investedproject').addClass('jiben');
            });
        </script>
    </header>
    <!-- ==============================================js特效================================================= -->
    <include file="index/effect" />
    <!-- =================================================================================================== -->
</block>
<block name="body">
    <div class="all">

        <include file="main_t" />
        <!--main-->
        <div class="main" style="margin-bottom:20px;">
            <include file="main_l" />
            <div class="main_r">
                <!-- <div class="yichuangjian">
                    <p>已投项目</p>
                </div> -->
                <div class="redayy">

                    <!--项目审核-->
                    <?php if (!$_GET[hkxq]): ?>
                        <!--标题栏。。。不能改-->
                        <div class="beiiji_a">
                            <div class="xmnamea" style="color:#fff;">项目名称</div>
                            <div class="xmnameb" style="color:#fff;">审核</div>
                            <div class="xmnameb" style="color:#fff;">投资金额</div>
                            <div class="xmnamec" style="color:#fff;">还款明细</div>
                            <div class="clear"></div>
                        </div>

                        <?php foreach ($pros as $key => $v1): ?>
                            <div class="beiiji_item1 beiiji_b">
                                <div class="xmnamea">{$v1[pjname]}</div>
                                <div class="xmnameb">{$v1[stageid]}</div>
                                <div class="xmnameb">{$v1[money]}</div>
                                <div class="xmnamec">
                                    <?php $hkxq = M("repaydetail")->where("fin_id='$v1[id]'")->limit("1")->select();
                                    if ($hkxq): ?>
                                        <a href="?s=/Home/Invcenter/entrepre&hkxq={$v1[id]}">查看</a>
                                    <?php else: ?>
                                        无计划
                                    <?php endif; ?>
                                </div>
                                <div class="clear"></div>
                            </div>
                        <?php endforeach; ?>
                        <script>
                        jQuery(document).ready(function($) {
                            $(".beiiji_item1:odd").removeClass('beiiji_b').addClass('beiiji_c')
                        });
                        </script>
                    <?php endif; ?>



                    <!--融资详情-->
                    <!--标题栏。。。不能改-->
                    <!-- <div class="beiiji_a">
                      
                        <div class="rixqingb" style="color:#fff;">投资金额</div>
                        <div class="rixqingc" style="color:#fff;">投资日期</div>
                        <div class="rixqingd" style="color:#fff;">还款日期</div>
                        <div class="rixqinge" style="color:#fff;">收益率(‰)</div>
                        <div class="rixqingf" style="color:#fff;">已还款金额</div>
                        <div class="rixqingg" style="color:#fff;">操作</div>
                        <div class="clear"></div>
                    </div>

                    <div class="beiiji_b">
                       
                        <div class="rixqingb">100000</div>
                        <div class="rixqingc">2014-12-19</div>
                        <div class="rixqingd">2015-04-02</div>
                        <div class="rixqinge">3</div>
                        <div class="rixqingf">1255</div>
                        <div class="rixqingg"><a href="#">还款明细</a></div>
                        <div class="clear"></div>
                    </div>

                    <div class="beiiji_c">
                      
                        <div class="rixqingb">100000</div>
                        <div class="rixqingc">2014-12-19</div>
                        <div class="rixqingd">2015-04-02</div>
                        <div class="rixqinge">3</div>
                        <div class="rixqingf">1255</div>
                        <div class="rixqingg"><a href="#">还款明细</a></div>
                        <div class="clear"></div>
                    </div>

                    <div class="beiiji_b">
                       
                        <div class="rixqingb">100000</div>
                        <div class="rixqingc">2014-12-19</div>
                        <div class="rixqingd">2015-04-02</div>
                        <div class="rixqinge">3</div>
                        <div class="rixqingf">1255</div>
                        <div class="rixqingg"><a href="#">还款明细</a></div>
                        <div class="clear"></div>
                    </div>

                    <div class="beiiji_c">
                       
                        <div class="rixqingb">100000</div>
                        <div class="rixqingc">2014-12-19</div>
                        <div class="rixqingd">2015-04-02</div>
                        <div class="rixqinge">3</div>
                        <div class="rixqingf">1255</div>
                        <div class="rixqingg"><a href="#">还款明细</a></div>
                        <div class="clear"></div>
                    </div>
                    <div class="fhpre"><img src="/wft/Public/home/images/prcenter/fhpre.gif"></div> -->
                    <!--融资详情结束-->


                    <!--还款详情-->
                    <?php if ($_GET[hkxq]): ?>
                        <?php 
                            $fin_id = $_GET[hkxq];
                            $sql = "SELECT
                                wft_project.pjname,
                                wft_homeuser.username,
                                wft_financing.investtime,
                                wft_financing.money,
                                wft_financing.paybacktime,
                                wft_financing.catipalperiod,
                                wft_financing.interestperiod,
                                wft_financing.yield
                                FROM
                                wft_financing
                                LEFT JOIN wft_project ON wft_financing.prid = wft_project.id
                                LEFT JOIN wft_homeuser ON wft_financing.pid = wft_homeuser.id
                                WHERE 
                                wft_financing.id = '$fin_id' 
                                LIMIT 1";
                            $fininfo = M()->query($sql);//融资信息
                            $repaydetail = M('repaydetail')->where("fin_id='$fin_id'")->select(); //还款明细列
                        ?>
                        <a href="?s=/Home/Invcenter/entrepre"><div class="fhpre"><img src="/wft/Public/home/images/prcenter/fhpre.gif"></div></a>
                        <div class="hkxqin">
                            <div class="hkxqin_l">
                                <div class="jjti"><span>项目名：</span>{$fininfo[0][pjname]}</div>
                                <div class="jjti"><span>投资日期：</span>{$fininfo[0][investtime]}</div>
                                <div class="jjti"><span>开始还款时间：</span>{$fininfo[0][paybacktime]}</div>
                                <div class="jjti"><span>收益期：</span>{$fininfo[0][interestperiod]}</div>
                            </div>
                            <div class="hkxqin_r">
                                <div class="jjti"><span>投资人：</span>{$fininfo[0][username]}</div>
                                <div class="jjti"><span>投资金额：</span>{$fininfo[0][money]}(元)</div>
                                <div class="jjti"><span>回本期：</span>{$fininfo[0][catipalperiod]}</div>
                                <div class="jjti"><span>收益率：</span>千分之{$fininfo[0][yield]}</div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <!--标题栏。。。不能改-->
                        <div class="beiiji_a">
                            <div class="hkxqinga" style="color:#fff;">第几期</div>
                            <div class="hkxqingb" style="color:#fff;">期名</div>
                            <div class="hkxqingc" style="color:#fff;">截止日期</div>
                            <div class="hkxqingd" style="color:#fff;">应还款(元)</div>
                            <div class="hkxqingd" style="color:#fff;">实际还款(元)</div>
                            <div class="hkxqinge" style="color:#fff;">应还款总额(元)</div>
                            <div class="hkxqingf" style="color:#fff;">实际款总额(元)</div>
                            <div class="hkxqingg" style="color:#fff;">拖欠状态</div>
                            <div class="clear"></div>
                        </div>
                        <?php foreach ($repaydetail as $key => $v3): ?>
                            <div class="beiiji_item3 beiiji_b">
                                <div class="hkxqinga">{$v3[m_id]}</div>
                                <div class="hkxqingb">{$v3[m_name]}</div>
                                <div class="hkxqingc">{$v3[end_time]}</div>
                                <div class="hkxqingd">{$v3[plan_money]}</div>
                                <div class="hkxqingd">
                                    <?php //实际还款
                                        $sql = "SELECT repay_money FROM `wft_repay` WHERE
                                        fin_id = '$fin_id' AND
                                        repay_time BETWEEN '$v3[begin_time]' AND '$v3[end_time]' 
                                        AND repay_time<'$v3[end_time]'";
                                        $thisrepay = M('')->query($sql);
                                        // echo M()->getlastsql();
                                        $thispays = 0;
                                        foreach ($thisrepay as $key => $value) {
                                            $thispays +=$value[repay_money];
                                        }
                                        echo $thispays;
                                    ?>
                                </div>
                                <div class="hkxqinge">
                                    <?php //应还款总额
                                        $fin_m_huiben = $fininfo[0][catipalperiod];
                                        if ($v3[m_id]>$fin_m_huiben) {
                                            echo $yhze = $fininfo[0][money]+intval(($v3[m_id]-$fin_m_huiben)*$fininfo[0][money]*$fininfo[0][yield]/1000);
                                        }else if($v3[m_id]==$fin_m_huiben){
                                            echo $yhze = $fininfo[0][money];
                                        }else{
                                            echo $yhze = intval($v3[m_id]*$fininfo[0][money]/$fin_m_huiben);
                                        }
                                    ?>
                                </div>
                                <div class="hkxqingf"><!-- 实际款总额 -->
                                    <?php if (time() < strtotime($v3[end_time])): ?>
                                        空
                                    <?php else: ?>
                                        <?php 
                                            $sql="SELECT
                                                SUM(wft_repay.repay_money) AS yh
                                                FROM `wft_repay`
                                                WHERE
                                                fin_id = '$fin_id' AND
                                                wft_repay.repay_time < '$v3[end_time]'";
                                            $tmp = M()->query($sql);
                                            echo $tmp[0][yh]?$tmp[0][yh]:0;
                                        ?>
                                    <?php endif; ?>
                                </div>
                                <div class="hkxqingg"><!-- 拖欠状态 -->
                                    <?php if (time() < strtotime($v3[end_time])): ?>
                                        空
                                    <?php else: ?>
                                        <?php if ($yhze>$tmp[0][yh]): ?>
                                            拖欠<?php echo $yhze-$tmp[0][yh]; ?>(元)
                                        <?php else: ?>
                                            还款正常
                                        <?php endif; ?>
                                    <?php endif; ?>
                                </div>
                                <div class="clear"></div>
                            </div>
                        <?php endforeach; ?>
                        <script>
                        jQuery(document).ready(function($) {
                            $(".beiiji_item3:odd").removeClass('beiiji_b').addClass('beiiji_c')
                        });
                        </script>
                    <?php endif; ?>
                    <!--还款详情结束-->


                </div>
                <div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</block>