<extend name="Base/invcenter"/>

<block name="header">
    <header>
        <!--banner-->
        <div class="littlebanner">
            <img src="__IMG__/investor/invcenter/cailing.gif" />
        </div>
        <script type="text/javascript">
            jQuery(document).ready(function($) {
                $('#guanzhu').addClass('jiben');
            });
        </script>
    </header>
    <!-- ==============================================js特效================================================= -->
    <include file="index/effect" />
    <!-- =================================================================================================== -->
</block>
<block name="body">
    <div class="all">

        <include file="main_t" />
        <!--main-->
        <div class="main" style="margin-bottom:20px;">
            <include file="main_l" />
            <div class="main_r">

                <div class="yichuangjian">
                    <p>
                        关注
                        <span>
                            你关注了 <font style="color:red">{:count($atts)}个</font>投资人或项目
                        </span>
                    </p>
                </div>
                <div id="items">
                    <?php foreach ($atts as $key => $value): ?>
                        <div class="dongtai">
                            <div class="dongtai_l">
                                <a href="{$value[url]}">
                                    <img src="{$value[img]}" height="82" width="163" />
                                </a>
                            </div>
                            <div class="dongtai_r">
                                <p>
                                    {$value[attd_style_name]}<br><span>{$value[name]}</span>
                                    <br />
                                </p>
                                <h3 class="time">{:date("Y-m-d",$value[att_time])}</h3>
                            </div>
                            <div class="clear"></div>
                            <div class="fenge clear"></div>
                        </div>
                    <?php endforeach ?>
                </div>
                    
                <?php if ($atts): ?>
                    <div class="pages">
                        <script>
                        $("div.pages").jPages({
                            containerID : "items",
                            perPage : 10,
                            previous : "上一页",
                            next : "下一页"
                        });
                        </script>
                    </div>
                <?php else: ?>
                    <p>你还没有任何关注</p>
                <?php endif ?>
                    
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</block>