<div class="main_l">

	<div class="chuangjian">
		<ul>
			<li>
				<a href="__URL__/jibenxinxi" id="baseinfo" class="abefore">基本信息</a>
			</li>

			<li>
				<a href="__URL__/tijiao" class="abefore" id="tijiao">项目申请[{:count($prodeliverys)}]</a>
			</li>

			<li>
				<a href="__URL__/entrepre" class="abefore" id="investedproject">已投项目[{:count($tzxms)}]</a>
			</li>

			<li>
				<a href="__URL__/chuzi" class="abefore" id="chuzi">出资意向[{:count($chuzis)}]</a>
			</li>

			<li>
				<a href="__URL__/pinglun" class="abefore" id="pinglun">评论 [{:count($cmtedids)}]</a>
			</li>
			<li>
				<a href="__URL__/guanzhu" class="abefore" id="guanzhu">关注 [{:count($atts)}]</a>
			</li>

			<li>
				<a href="__URL__/webMsg" class="abefore" id="webMsg">约谈 [{:count($yt_count_user)}]</a>
			</li>

			<li>
				<a href="__URL__/fans" class="abefore" id="fans">粉丝 [{:count($fans)}]</a>
			</li>

			<!--<li class="border">
				<a href="" class="abefore" id="border">理财 [0]</a>
			</li>-->
		</ul>
	</div>

</div>