

<!-- ================================客服========================================= -->
<!-- <script src="/welive/welive.js"></script>
-->
<!-- <script src="http://kefu.qycn.com/vclient/state.php?webid=99267" language="javascript" type="text/javascript"></script> -->
<!-- ================================特效========================================= -->
<div class="xuanfu" style="display:none;">
    <div class="every">
        <a href="http://kefu.qycn.com/vclient/chat/?websiteid=99267&clienturl=http%3A%2F%2Fwww.weifengtou.com" target="_blank">
            <div class="erery_e">
            </div>
        </a>
    </div>
    <div class="every">
        <div class="erery_a">
            <div class="everyc_ewm">
                <img src="__HOME__/images/fuchuang/gtel.png">
            </div>
        </div>
    </div>
    <div class="every">
        <div class="erery_c">
            <div class="everyc_ewm">
                <img src="__HOME__/images/fuchuang/gewm.png">
            </div>
        </div>
    </div>
    <div class="every">
        <a href="index.php?s=Home/Help/wwwsuggest" target="_black">
            <div class="erery_b"></div>
        </a>
    </div>

    <div class="every" id="topcontrol" class="z_index999" style="display:none;z-index:999;">
        <div class="erery_d" style="z-index:999;"></div>
    </div>
</div>
<script>
    $(function(){   
        if (window.screen.width<800) {
            
        }else{
            $(".xuanfu").show()
            scrolltotop.offset(18,88);
            scrolltotop.init(); 
            // $(".xuanfu").show()
        }
    }); 
</script>
<!-- ================================================================================================ -->
