/*.ttt{ width:100%;  background:#e9e9e9}
.ttte{ width:1100px; margin:0 auto; padding:35px 30px}
.ttte ul{ float:left; width:100px; margin:0 50px; display:inline}
.ttte ul li{ display:block; width:100px; height:25px; line-height:25px; text-align:center; color:#444; font-weight:bold !; font-size:18px !important}
.ttte ul li a{ font-size:16px; color:#8a8a8a !important ; font-weight:normal }
.ttte ul li a:hover{ text-decoration:underline}
*/