* { margin: 0; padding: 0; }
body {font: 14px; color: #444; background:#f6f6f6; font-family:"微软雅黑" }
img { border: 0; vertical-align: bottom; }
ul, li, dt { margin: 0; padding: 0; list-style: none; }
a { text-decoration: none; }
a:link { color: #000000; text-decoration: none; }
a:hover {  cursor: pointer; color:#FF0099; text-decoration: none;}
a.underline { text-decoration: underline; }
a:visited { color: #000000; text-decoration: none; }
form, ul, li, p, h1, h2, h3, h4, h5, h6 { padding:0; margin:0; list-style:none}
.clear { clear: both; }
/*----------------------顶部-------------------------*/


/*----------------------投资人展示页-------------------------*/
.all{width:100%; height:100%;}

.littlebanner{ width:100%; background:#e1e5ed; text-align:center}
.bann{ width:100%; background:#348fd6; text-align:center}

.allmain{width:1100px;margin:10px auto; }

.grjj{ width:1098px; height:178px; background:#fff; margin-bottom:10px; border:#dcdcdc solid 1px;}
.grjs{ float:left; width:698px;}
.grjs_img{ width:134px; height:134px; float:left; padding:22px 17px; position:relative}
.grjs_r{ float:right; width:530px; height:128px; padding:35px 0 25px 0}
.grjs_r h2{ font-size:25px; line-height:35px;}
.grjs_r p{ font-size:16px; line-height:35px; line-height:35px;}
.grjs_r p span{ padding:0 10px}
.grjs_r img{ margin-top:5px}


.grjj_r{ width:320px; height:44px; padding:38px 27px 38px 52px; margin:29px 0; float:right; border-left:#dcdcdc dashed 1px}
.grjj_r img{ margin-right:25px; float:left}


.gongtong{ border:#dcdcdc solid 1px; background:#fff; margin-bottom:10px; width:1048px; padding:15px 25px}
.gongtong h3{ font-weight:normal; font-size:18px; padding-bottom:15pz; border-bottom:#dcdcdc solid 1px; height:30px; line-height:20px }
.gongtong h3 a{ color:#4f54be}



.tzln{ width:1048px;word-wrap:break-word;}
/*.tzln_nr p{ padding:20px 0; text-indent:2em; font-size:14px; line-height:1.5; min-height:40px}*/
.tzln_nr{ padding:15px 0; min-height:40px; max-width:625px}
.tzlnun{ width:1048px;}
.tzlnun_l{ float:left; width:657px;}
.tzln_nr{ padding:15px 0; min-height:40px; max-width:625px}
.tzln_nr p {width:650px; line-height:1.5;}

.wleft{ float:left; padding-left:35px; background:url(../images/investor/invdisplay/qt.gif) 0 2px no-repeat; line-height:24px; font-size:14px; display:inline}
.wright{ margin-left:112px; line-height:24px; font-size:14px; color:#db4f33}

.qjwz{ float:right; width:300px; height:120px; border:#dcdcdc dashed 1px; background:#f6f6fc; padding:20px 35px; display:inline; margin:20px 0 0 0}
.qjwz h2{ font-weight:normal; font-size:16px}
.qjwz_l{ float:left; width:145px; display:block; height:80px; margin-top:20px; font-size:16px}
.qjwz_r{ float:right; padding:10px 0 2px 30px; margin-top:10px; display:inline; width:120px; border-left:#dcdcdc dashed 1px; height:80px}
.qjwz_r p{ line-height:30px}
.qjwz_r p span{ font-weight:bold; font-size:18px}



.pingjia{ width:1048px;}
.pingjiak_l{ float:left; margin-top:20px; width:880px}
.pingjiak_l textarea{font-size:14px; color:#444; border:#f8dcd6 1px solid; line-height:2.0;width:866px !important; padding:3px 10px; height:148px !important;}
.pjks{ width:880px; height:148px; background:url(../images/investor/invdisplay/kuang02.gif) 0 0 no-repeat; padding:3px}
.pjks p { width:862px; font-size:14px; color:#999}
.pjkx{ width:862px; border-left:#f0d4ce solid 1px; border-bottom:#f0d4ce solid 1px; border-right:#f0d4ce solid 1px;}
.pingjiak_r{ float:right; width:134px; height:134px; margin-top:20px; position:relative}
.tijiao{ float:right; margin-top:15px; padding-right:27px}



.pjys{ padding:30px 80px 30px 0; width:968px}
.pjys_l{ float:left; width:80px; height:80px; position:relative}
.pjys_r{ float:right; width:880px; border-bottom:#dcdcdc dotted 1px;}
.pjys_r h2{ font-size:14px; line-height:25px}
.pjys_r p{ line-height:25px; color:#909090; font-size:14px}
.pjys_r p span{ color:#444}
.pjys_r h6{ color:#909090; font-weight:normal; line-height:30px; font-size:12px; width:880px}
.pjys_r p a{color:#fff; width:50px; height:20px; background:#0081e6; text-align:center; display:block; margin-bottom:10px; line-height:20px}
.pjys_r textarea{ line-height:25px; width:840px; height:100px; border:#f1ca7e solid 1px; margin-bottom:15px}
.pjys_rm{ float:right; margin-right:40px; display:inline}
.pjys_rm img{ margin-left:20px; margin-bottom:33px}

.hfh{ width:848px; border:#dcdcdc solid 1px; background:#f9f9f9; padding:15px; position:relative; margin-bottom:40px}
.hfh_l{ float:left; width:80px; position:relative}
.hfh_r{ float:right; width:740px}
.hfh_r h2{ font-weight:normal; color:#fdb371}
.hfh_r h2 a{ color:#444}
.hfh_r p{line-height:25px; color:#909090; font-size:14px}
.hfh_t{color:#909090; font-weight:normal; line-height:30px; font-size:12px; }
.hfh_h a{color:#fff; width:50px; height:20px; background:#0081e6; text-align:center; display:block; margin-bottom:10px; line-height:20px; float:right; font-size:13px}



.ytxm{ width:1048px}
.ytxmn{ width:493px; height:195px; padding:15px 10px; border:#dcdcdc solid 1px; margin-top:20px; float:left; position:relative}
.ytxmn_l{ float:left; white-space-collapse:155px; height:184px}
.ytxmn_r{ float:right; width:315px}
.ytxmn_r p{ font-size:13px; padding-right:10px}
.ytxmn_r h2{ font-size:16px}
.ytxmn_rim li{ float:left; margin-right:5px; display:inline}
.ytxmn_rim li.baifenshu{ background:url(../images/investor/invdisplay/baifenshu04.gif) 0 0 no-repeat; font-size:10px; text-align:center; width:39px; height:22px; line-height:26px}


.gwall{ width:483px; height:150px; float:left; border-bottom:#dcdcdc dashed 1px; display:inline; border:#fbb520 solid 1px; overflow: hidden; padding:10px; margin:20px 0;; margin-left:10px}
.gwall h2 a{ background:#fb6e20; padding:0px 10px; color:#fff; margin-bottom:10px; font-size:16px}
.gwall h2 a:hover{ text-decoration: underline;}
.gwallms{ width: 483px; margin-top:6px}
.gwallms p{ font-size:13px; color:#444; width:483px; margin-left:10px; line-height:2.0}
.gwallms p { color:#444;}

.gwallm{ float:right; margin-right:10px}












.ytxmm{ float:right;}

.gyt{ clear:both}
.gyt ul li{ float:left; margin-right:10px}
.gyt ul li.guanzhu{ /*background:url(../images/investor/invdisplay/guanzhu.gif) 0 0 no-repeat;*/ font-size:12px; width:60px; height:28px; line-height:28px; padding-left:35px;}
.gyt ul li.yuetan{ /*background:url(../images/investor/invdisplay/yuetan.gif) 0 0 no-repeat;*/ font-size:12px; width:60px; height:28px; line-height:28px; padding-left:35px;}
.gyt ul li.touzi{ /*background:url(../images/investor/invdisplay/touzilogo.gif) 0 0 no-repeat;*/ font-size:12px; width:60px; height:28px; line-height:28px; padding-left:35px;}

.rongzi p{ float:left; margin:15px 0 15px 0; display:inline; width:130px;}










/*-------------------项目展示页----------------------*/
.grjs h1{ margin-top:25px; font-weight:normal; line-height:60px; margin-bottom:10px}
.grjs ul{ padding-left:25px}
.grjs ul li{ float:left; display:inline; margin-right:50px; line-height:30px}
.grjs ul li.fa{ display:block; padding:0 10px; background:#0081e6; color:#fff}


.xmjj{width:1048px;}
.xmjj_l{ float:left; width:482px; height:400px; margin:15px 0 10px 0; display:block}
.xmjj_r{ float:right; margin:15px 0 10px 0; width:510px; background:#f1f9ff; padding:25px}
.xmjj_r h4{ font-size:16px; line-height:35px}
.xmjj_r p{ line-height:25px; font-size:14px}

.zjzs{ width:1048px; padding:25px 25px 15px 25px; background:#fff; border:#dcdcdc solid 1px; margin-bottom:10px}
.zjzs_l{ float:left; width:514px; padding-right:5px; border-right:#dcdcdc dashed 1px}
.zjzs_l ul li{ float:left; display:block; margin-right:10px; width:160px; font-size:14px}
.zjzs_l ul li img{ padding-left:7px}
.zjzs_r{ float:right; width:509px; padding-left:15px; }
.zjzs_r ul li{ float:left; display:block; width:220px; margin:5px 10px; font-size:14px}
.zjzs_r ul li span{ background:#db4f33; color:#fff; padding:2px 8px; margin-left:5px}




/*------图片展示 轮番部分----*/
.tpzs{ width:1048px;}


#focus {width:1048px; height:524px; overflow:hidden; position:relative; margin-top:20px}
#focus ul {height:380px; position:absolute;}
#focus ul li {float:left; width:1048px; height:524px; overflow:hidden; position:relative; background:#000;}
#focus ul li div {position:absolute; overflow:hidden;}
#focus .btnBg {position:absolute; width:1048px; height:20px; left:0; bottom:0; background:#000;}
#focus .btn {position:absolute; width:780px; height:10px; padding:5px 10px; right:0; bottom:0; text-align:right;}
#focus .btn span {display:inline-block; _display:inline; _zoom:1; width:25px; height:10px; _font-size:0; margin-left:5px; cursor:pointer; background:#fff;}
#focus .btn span.on {background:#fff;}
#focus .preNext {width:45px; height:100px; position:absolute; top:90px; background:url(../images/investor/invdisplay/sprite.png) no-repeat 0 0; cursor:pointer;}
#focus .pre {left:0; top:200px}
#focus .next {right:0; background-position:right top;top:200px}


/*------图片展示 轮番部分----*/




.xmtd{ width:1048px}
.xmtd_im{ width:200px; height:80px; float:left; position:relative; margin-top:20px}
.xmtd_im img{ width:80px; height:80px; float:left} 
.xmtd_im p{ float:right; width:110px; padding-top:15px; line-height:25px; font-weight:bold}
.xmtd_im p span{ color:#db4f33; font-weight:normal}


.jianjie{ width:1048px; margin-top:25px}
.jianjie_l{ float:left; background:url(../images/investor/invdisplay/biaoqian.png) 0 0 no-repeat; width:108px; height:25px; line-height:25px; color:#fff; text-align:center}
.jianjie_r{ float:right; width:880px; padding:10px 20px; background:#fdf6f5; font-size:14px; line-height:25px; margin-bottom:25px; min-height:60px}






.gd{ width:1050px;background:#000; padding:25px; filter:alpha(opacity=60);

  -moz-opacity:0.6;

  -khtml-opacity: 0.6;

  opacity: 0.6;
}
.gd_l{ float:left; width:825px}
.gdd_l{ float:left; width:250px; padding-right:20px; border-right:#fff dashed 1px}
.gdd_l p{ float:right; color:#fff; font-size:18px; line-height:30px}
.gdd_r{ float:right; width:530px; border-right:#fff dashed 1px; padding-left:20px; }
.gdd_r p{ color:#fff; font-size:18px; line-height:30px; margin-left:120px;}
.gdd_r p span{ color:#ff0; font-size:24px}
.gd_r{ width:180px; padding:5px 10px 5px 30px; float:right;position:relative}




/*----------------------底部-------------------------*/
.positiono{ position:absolute; z-index:10; top:22px; left:17px
} 
.positiont{ position:absolute; z-index:10; top:0px; right:0px}

.positionth{ position:absolute; z-index:10; top:0px; left:0px}
.positionf{ position:absolute; z-index:10; top:0px; left:0px}
.positionfi{ position:absolute; z-index:10; top:-8px; left:20px}
.positions{ position:absolute; z-index:10; top:0px; right:0px}
.positionss{position:absolute; z-index:10; top:10px; right:20px}


/*.pages{ padding:15px 15px 15px 0; text-align:center;color:rgb(51,51,51); clear:both}
.pages a{ margin:0 2px; padding:5px 10px; color:rgb(51,51,51); font-size:12px; border:#dcdcdc solid 1px}
.pages a:hover{ background:#666666; border:none; padding:6px 11px; color:white}
.pages a.nextpage{ border:#dcdcdc solid 1px;}
.pages a.nextpage:hover{ background:#666666; border:none}

.jp-current{
    background:#666666; color:#FFF !important; border:none !important; padding:6px 11px !important;
}
.jp-current:hover{background:#666666 !important; color:#FFF !important; border:none !important; padding:6px 11px !important; cursor:pointer !important; font-weight:normal !important;}
.jp-previous{border:#dcdcdc solid 1px;

}
.jp-next{border:#dcdcdc solid 1px;

}
.jp-previous:hover{ background:#666666 !important; border:none !important; color:#fff !important; cursor:pointer !important;}
.jp-next:hover{ background:#666666 !important; border:none !important; color:#fff !important; cursor:pointer !important;}*/

.ytxpages{ padding:15px 15px 15px 0; text-align:center; clear:both}
.ytxpages a{ margin:0 2px; padding:5px 10px; color:rgb(51,51,51); font-size:12px; border:#dcdcdc solid 1px}
.ytxpages a:hover{ background:#666666; border:none; padding:6px 11px; color:white}
.ytxpages a.now{ background:#666666; color:#FFF; border:none; padding:6px 11px}
.ytxpages a.nextpage{ border:#dcdcdc solid 1px;}
.ytxpages a.nextpage:hover{ background:#666666; border:none}

.textaraa{ width:866px !important; height:83px !important; padding-left: 10px}