<div id="tb_" class="tb_">
    <ul>
        <li id="tb_1" class="hovertab" >
            <a href="__URL__/lookover&id={$prid}">项目资料</a>
        </li>
        <li id="tb_2" class="normaltab" >
            <a href="__URL__/lookover02&prid={$prid}">审核资料</a>
        </li>
        <!-- <li id="tb_5" class="normaltab">
            <a href="__URL__/lookover05&prid={$prid}" >项目描述</a>
        </li> -->
        <li id="tb_3" class="normaltab" >
            <a href="__URL__/lookover03&prid={$prid}">融资需求</a>
        </li>
        <li id="tb_4" class="normaltab">
            <a href="__URL__/lookover04&prid={$prid}" >项目图片</a>
        </li>
    </ul>
</div>