<extend name="Public/base"/>

<!-- 子导航 -->
<block name="sidebar">
	<include file="sidemenu" />
</block>

<block name="body">
	<div>
		<!-- 标题 -->
		<div class="main-title">
			<h2>人数({$_total})</h2>
		</div>
		<!-- 按钮工具栏 -->
		<div class="cf">
			<!-- 下载 -->
			<div style="float:left;width:200px;height:30px;"><a id="download" href="admin.php?s=/Article/exportLuyanExcel&status={$status}">下载所有</a></div>
			<div style="float:left;width:200px;height:30px;"><a id="download" href="admin.php?s=/Article/exportLuyanExcel&status={$status}&start={$start}&end={$end}">下载查询结果</a></div>
			<!-- 高级搜索 -->
			<div class="search-form fr cf">
				<div>
					<form name="luyanForm" id="luyanForm" action="{:U('Article/selectLuyan')}" method="post">
						<input id="start" name="start" class="laydate-icon">-<input id="end" name="end" class="laydate-icon">
						<input name="status" type="hidden" value="{$status}">
						<input type="submit" value="查询">
					</form>
					<script>
						var start = {
    						elem: '#start',
    						format: 'YYYY-MM-DD',
    						//min: laydate.now(), //设定最小日期为当前日期
    						min: '2014-01-01', //设定最小日期为当前日期
    						max: '2099-06-16', //最大日期
    						istime: true,
    						istoday: false,
    						choose: function(datas){
         						end.min = datas; //开始日选好后，重置结束日的最小日期
         						end.start = datas; //将结束日的初始值设定为开始日
    						}
						};
						var end = {
    						elem: '#end',
    						format: 'YYYY-MM-DD',
    						min: '2014-01-01',
    						max: '2099-06-16',
    						istime: true,
    						istoday: false,
    						choose: function(datas){
        						start.max = datas; //结束日选好后，重置开始日的最大日期
    						}
						};
						laydate(start);
						laydate(end);
					</script>
				</div>
				<!-- <div class="sleft">
					<div class="drop-down" style="display:none;">
						<span class="sort-txt"">所有</span>
						<i class="arrow arrow-down""></i>
						<ul id="sub-sch-menu" class="nav-list hidden">
							<li><a href="javascript:;">所有</a></li>
							<li><a href="javascript:;">正常</a></li>
							<li><a href="javascript:;">禁用</a></li>
							<li><a href="javascript:;">待审核</a></li>
						</ul>
						<script>
						$(function(){
							$(".sort-txt,.arrow-down").click(function(){
								$("#sub-sch-menu").show();
							});
							$(document).on("click",function(e){
								var target  = $(e.target);
									if(target.closest(".sort-txt,.arrow-down,#sub-sch-menu").length == 0){
										/*.closest()沿 DOM 树向上遍历，直到找到已应用选择器的一个匹配为止，返回包含零个或一个元素的 jQuery 对象。*/
									$("#sub-sch-menu").hide();
								};
								e.stopPropagation();
							})
						})
						</script>
					</div>
					<input type="text" name="title" class="search-input" placeholder="请输入项目名称">
					<a class="sch-btn" id="search"><i class="btn-search"></i></a>
				</div> -->
			</div>
		</div>

		<!-- 数据表格 -->
		<div class="data-table">
			<table class="">
				<thead>
					<tr>
						<th class="row-selected row-selected">
							<input class="check-all" type="checkbox"/>
						</th>
						<th class="">编号</th>
						<th class="">姓名</th>
						<th class="">联系方式</th>
						<th class="">类型</th>
						<th class="">报名时间</th>
						<th class="">留言</th>
					</tr>
				</thead>
				<tbody>
					<foreach name="list" item="vo">
						<tr>
							<td>
								<input class="ids" type="checkbox" name="ids[]" value="{$vo.id}" />
							</td>
							<td id="prid">{$vo.id}</td>
							<td>{$vo.realname}</td>
							<td>{$vo.telnumber}</td>
							<td><if condition="$vo.status eq 0">投资人
									<elseif condition="$vo.status eq 1" />项目方
								</if>
							</td>
							<td>{$vo.signuptime}</td>
							<td>{$vo.leavemsg}</td>
						</tr>
					</foreach>
				</tbody>
			</table>

		</div>

		<!-- 分页 -->
		<div class="page">{$_page}</div>
	</div>

</block>
<block name="script">
	<link href="__STATIC__/datetimepicker/css/datetimepicker.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="__STATIC__/laydate/skins/dahong/laydate.css">
	<php>
		if(C('COLOR_STYLE')=='blue_color') echo '
		<link href="__STATIC__/datetimepicker/css/datetimepicker_blue.css" rel="stylesheet" type="text/css">';</php>
	<link href="__STATIC__/datetimepicker/css/dropdown.css" rel="stylesheet" type="text/css">
	<script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
	<script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
	<script type="text/javascript" src="__STATIC__/json2.js"></script>
	<script type="text/javascript" src="__STATIC__/layer.min.js"></script>
	<script type="text/javascript" src="__STATIC__/layer.ext.js"></script>
	

</block>