<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<!--jquery-->
	<script src="__STATIC__/jquery-1.10.2.min.js"></script> 
	<!-- <script src="__STATIC__/jquery-2.0.3.min.js"></script> -->

	<!--jquery兼容插件-->
	<script src="__STATIC__/jquery-migrate-1.2.1.min.js"></script>

	<!-- html兼容插件 -->
	<!-- <script src="__STATIC__/modernizr-2.0.6.min.js"></script> -->

	<!--表单插件-->
	<!-- <script src="__STATIC__/jquery.form.js"></script> -->
	
	<!--bootstrap-->
	<link href="__STATIC__/bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="__STATIC__/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
	<!-- <link href="__STATIC__/bootstrap/css/docs.css" rel="stylesheet"> -->
	<!-- <link href="__STATIC__/bootstrap/css/onethink.css" rel="stylesheet"> -->
	<script src="__STATIC__/bootstrap/js/bootstrap.js"></script>
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> -->



	<!--验证插件-->
	<link rel="stylesheet" href="__STATIC__/easyvalidate/css/validate.css">
	<script src="__STATIC__/js/easy_validator.pack.js"></script>
	<script src="__STATIC__/js/jquery.bgiframe.min.js"></script>
	<!-- <script src="__STATIC__/jQueryValidation/lib/jquery.validate.js"></script> -->
	<!-- <script src="__STATIC__/jQueryValidation/lib/jquery.metadata.js"></script> -->
	<!-- <script src="__STATIC__/jQueryValidation/lib/jquery.validate.messages_cn.js"></script> -->
	<!-- <style type="text/css">
	/*错误样式*/
	input.error { border: 1px dashed red;background:yellow; padding:2px; }
	select.error { border: 1px dashed red; background:yellow; padding:::::;}
	.error {
        float: left;
        height: 30px;
        line-height: 30px;
        padding-left: 16px;
        margin-left: 2px;
        color:red;
        /*背景图片（校验未通过的’×’图标）*/
        /*background: url(unchecked.gif) no-repeat 0px 0px;*/
        font-family:Verdana, Geneva, sans-serif;
        font-size:13px;
    }
    </style> -->

    <!-- 富文本编辑器 -->
    <!-- <script src="__STATIC__/ueditor/ueditor.all.min.js"></script> -->
    <!-- <script type="text/javascript" src="__STATIC__/ueditor/ueditor.config.js"></script> -->

    <!-- kindeditor文本编辑器 -->
    <!-- <link rel="stylesheet" href="__STATIC__/kindeditor/themes/default/default.css"> -->
    <!-- <script src="__STATIC__/kindeditor/kindeditor-min.js"></script> -->
    <!-- <script src="__STATIC__/kindeditor/zh_CN.js"></script> -->

    <!--分页插件-->
	<!-- <link rel="stylesheet" href="__STATIC__/jPages/css/jPages.css" /> -->
	<!-- <script src="__STATIC__/jPages/js/jPages.min.js"></script>  -->

	<!--日期输入-->
	<!-- <script src="__STATIC__/My97/WdatePicker.js"></script> 
	<script src="__STATIC__/laydate/laydate.js"></script>	 -->

	<!-- 弹出层插件 -->
	<!-- <script src="__STATIC__/layer.min.js"></script> -->
	<!-- <script src="__STATIC__/layer.ext.js"></script> -->

	<!--自定义-->
	<script src="__JS__/common.js"></script>
</head>
<body>
	{__CONTENT__}
</body>
</html>