* { margin: 0; padding: 0; }
body {font: 14px; color: #444; background:#f6f6f6; font-family:"微软雅黑" }
img { border: 0; vertical-align: bottom; }
ul, li, dt { margin: 0; padding: 0; list-style: none; }
a { text-decoration: none; }
a:link { color: #000000; text-decoration: none; }
a:hover {  cursor: pointer; color:#FF0099; text-decoration: none;}
a.underline { text-decoration: underline; }
a:visited { color: #000000; text-decoration: none; }
form, ul, li, p, h1, h2, h3, h4, h5, h6 { padding:0; margin:0}
.clear { clear: both; }
/*----------------------顶部-------------------------*/


/*----------------------中间-------------------------*/



.article{ width:1100; margin:20px 0}
.article_l{ float:left; width:805px; background:#fff; border:#dcdcdc solid 1px; padding:25px 30px 50px 30px}
.article_ls{ border-bottom:#dcdcdc solid 1px;}
.article_ls h2{ text-align:left; font-weight:bold; height:50px; line-height:50px; font-size:20px}
.contents{ width:769px; padding:20px 0px 10px 0px; border-bottom:#dcdcdc dotted 1px; margin:0 18px}

.contentt h3{ font-size:16px; margin-bottom:20px; height:10px}
.contents p{ line-height:30px; font-size:16px; line-height:35px}
.lastat{ border:none}
.contents p a{ color:#444;}
.contents p a:hover{ color:#F30; text-decoration:underline}



.zijinn h3{ font-size:16px; margin:25px 0; line-height:2.0}
.connectu{ width:769px; padding:0px 0px 0px 0px; margin:30px 18px; font-size:16px; font-weight:bold}
.connectu p{ font-weight:normal; text-indent:1.5em; margin:10px 0}
.liann{ height:2px; border-bottom:#dcdcdc dashed 1px; overflow:hidden; margin:5px 0 5px 0}

